//@import-normalize; /* bring in normalize.css styles */
@import "./locomotive-scroll.scss";

$light-text-color: #777;
$button-text-color: #666;
$primary: #fa6b68;
$white: #ffffff;

$body-font-family: "Fira Sans", serif;

html {
  // cursor: none;
  overflow: none;
}

#root {
  overflow: hidden;
}

body {
  font-family: $body-font-family;
  font-weight: 300; // For Fira Sans
  color: $white;
  background: rgb(47, 47, 75);
}

p {
  line-height: 1.6;
  opacity: 0.8;
  font-weight: 300;
}

::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 1.2rem);
  padding-left: var(--bs-gutter-x, 1.2rem);
}

.container {
  max-width: 1200px;
  padding-right: var(--bs-gutter-x, 1.2rem);
  padding-left: var(--bs-gutter-x, 1.2rem);
}

.git-sha {
  color: #999;
  font-size: 0.8rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bg-hero {
  background: rgb(34, 34, 56);
  background: linear-gradient(
    180deg,
    rgba(34, 34, 56, 1) 0%,
    rgba(23, 23, 37, 1) 100%
  );
  height: 110vh;
  min-height: 1060px;
  max-height: 1060px;
  overflow: hidden;
  position: relative;
}

#logo {
  transition: 0.3s all;

  &:hover {
    opacity: 0.7;
  }
}

#content {
  z-index: 10;
}

#navbar {
  position: fixed;
  z-index: 15;
  transition: 0.3s all ease;
}

.nav-scroll {
  margin-top: -100px;
  opacity: 0;
}

.topnav {
  z-index: 10;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: rgba($white, 0.6);
  padding: 4px 0;
  margin: auto 24px;
  position: relative;
  text-decoration: none;

  &:focus {
    color: rgba($white, 0.6);
  }

  &:hover {
    color: $white;
  }

  &.active {
    color: $white;
    border-bottom: 3px solid $primary;
  }
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $primary;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover:not(.active)::before {
  transform-origin: left;
  transform: scaleX(1);
}

.lead {
  color: rgba($white, 0.8);
}

.fw-semibold {
  font-weight: 500;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.btn {
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 28px 12px 28px;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-flex;
  transition: 0.4s ease;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color: $primary !important;
  border: 2.5px solid;
  border-color: $primary !important;
  transition: 0.2s;
  color: $white;
  outline: none;
  box-shadow: none;

  &:hover {
    background-color: lighten($primary, 3%) !important;
    border-color: lighten($primary, 3%) !important;
    color: $white;
  }
  background-color: transparent;
  border: none;
  position: relative;

  &:hover {
    background-color: transparent;
    border: none;
  }
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: $white;
  color: #2c2c40;
  border: 2.5px solid;
  border-color: $white;
  transition: 0.2s;
  outline: none;
  box-shadow: none;
}

.btn-secondary:hover {
  background-color: #ccc;
  color: #2c2c40;
  border: 2.5px solid;
  border-color: #ccc;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;

  &::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
}

.btn:hover span {
  padding-right: 25px;

  &:after {
    opacity: 1;
    right: 0;
  }
}

.hero-title-container {
  position: relative;
}

.hero-title {
  font-size: 7.5rem;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  padding-top: 130px;
  letter-spacing: 3px;
  // text-shadow: 0px 10px 100px #171725;
  z-index: 1;
  white-space: nowrap;
  position: relative;

  .hero-title-one {
    text-align: left;
    overflow: hidden;

    span {
      color: $primary;
    }
  }

  .hero-title-two {
    margin-top: -35px;
    text-align: right;
    overflow: hidden;
  }
}

.hero-sub-title {
  max-width: 320px;
  margin-top: -10px;
  text-align: end;
  font-size: 18px;
}

.hero-title-outline {
  position: absolute;
  width: 100%;
  transform: scale(1.72);
  top: -44px;
  overflow: hidden;
  -webkit-text-stroke: 1px rgba($white, 0.06);
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px rgba($white, 0.06);
}

.shape-1-container {
  position: absolute;
  bottom: 43%;
  left: 18%;
}
.shape-1 {
  width: 140px;
  height: 140px;
  background: #2c2c40;
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0;
}

.shape-2 {
  width: 220px;
  height: 220px;
  background: #2c2c40;
  border-radius: 16px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  position: absolute;
  top: -10%;
  right: 18%;
  z-index: 1;
  opacity: 0;
}

.shape-3-container {
  position: absolute;
  bottom: 32%;
  right: 28%;
}

.shape-3 {
  width: 100px;
  height: 100px;
  background: #2c2c40;
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0;
}

.shape-4-container {
  position: absolute;
  bottom: 22%;
  left: 32%;
}

.shape-4 {
  width: 60px;
  height: 60px;
  background: #2c2c40;
  border-radius: 10px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0;
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

.zi-10 {
  z-index: 10;
}

.hero-img {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  pointer-events: none;
  max-height: 680px;
  display: flex;
  align-items: cemter;
  justify-content: center;

  &.roko {
    margin-left: -450px;
    margin-bottom: 120px;
    position: absolute;
    max-height: 600px;
    height: 100%;
  }

  &.basilisk {
    margin-right: -420px;
    margin-bottom: 60px;
    position: absolute;
    max-height: 640px;
    height: 100%;
  }

  &.pascal {
    margin-bottom: 10px;
    position: absolute;
    height: 100%;
  }

  img {
    image-rendering: auto;
  }
}

.bg-floor {
  position: absolute;
  bottom: 0;
  background-color: #2f2f4a;
  width: 100%;
  height: 180px;
  border-radius: 360px 360px 0 0;
}

.bg-light {
  background: rgb(47, 47, 75);
  background: linear-gradient(
    180deg,
    rgba(47, 47, 75, 1) 0%,
    rgba(32, 32, 51, 1) 100%
  );
}

.bg-dark {
  background: rgb(23, 23, 37);
  background: linear-gradient(
    180deg,
    rgba(23, 23, 37, 1) 0%,
    rgba(29, 29, 48, 1) 100%
  );
}

.section {
  margin-top: -1px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-2 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.section-pb-extra {
  padding-top: 7rem;
  padding-bottom: 14rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 5rem;
}

.social-icons {
  margin-left: 1.2rem;
  font-size: 26px;
  position: absolute;
  top: 50%;

  a {
    color: #7676a0;
    transition: 0.3s;

    &:hover {
      color: lighten(#7676a0, 10%);
      transform: translateX(2px);
    }
  }
}

.btn-to-top {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: -100px;
  opacity: 0;
  pointer-events: none;
  margin: 40px;
  transition: 0.3s;

  .btt-shape {
    width: 40px;
    height: 40px;
    background: rgba($white, 0.05);
    border-radius: 10px;
    transform: translate3d(0px, 0px, 0px) rotate(45deg);
    z-index: 5;
    position: absolute;
    top: -4px;
    left: -20px;
    transition: 0.3s;
  }
  &:hover > .btt-shape {
    transform: translate3d(0px, 0px, 0px) rotate(135deg);
    opacity: 1;
    background: rgba($primary, 0.1);
  }

  &.show {
    display: block;
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
    right: 0;
  }
}

.text-shape-layer {
  width: 50px;
  height: 50px;
  background: rgba($primary, 0.2);
  border-radius: 10px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  margin: auto 0;
  transition: 0.3s;
}

.card {
  height: 100%;
  padding: 28px;
  border-radius: 12px;
  border: 3px solid;
  border-color: rgba(#4d4d66, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-size: 18px;

  &:hover {
    border-color: rgba(#4d4d66, 1);
  }
}

.shape-5-container {
  width: auto;
  position: absolute;
  right: -10%;
  bottom: -10%;
}
.shape-5 {
  width: 140px;
  height: 140px;
  background: lighten(#2c2c40, 8%);
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0.6;
  transition: 0.5s;
}

.shape-6-container {
  width: auto;
  position: absolute;
  left: -14%;
  bottom: -125%;
}
.shape-6 {
  width: 170px;
  height: 170px;
  background: lighten(#2c2c40, 8%);
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0.45;
}

.shape-7-container {
  width: auto;
  position: absolute;
  right: 15%;
  bottom: -150%;
}
.shape-7 {
  width: 80px;
  height: 80px;
  background: lighten(#2c2c40, 8%);
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0.4;
}

.divider-logo {
  height: 220px;
  margin-top: 80px;
  position: absolute;
  transition: 0.4s;

  &:hover {
    transform: scale(1.2);
  }
}

.marquee-title {
  font-size: 7.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 7.5rem;

  .text-outline {
    -webkit-text-stroke: 2px rgba(#4d4d66, 1);
  }
}

.text-red {
  color: $primary !important;
}

.footer-top {
  position: relative;
}

.footer-bottom {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 13px;
  background: rgb(47, 47, 75);
}

.footer-title {
  font-size: 10rem;
  color: rgba($white, 0);
  -webkit-text-stroke: 2px rgba(#4d4d66, 0.3);
  letter-spacing: 3px;
  font-weight: 900;
  margin: 0;
}

.footer-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
  height: 320px;
}

.footer-social-icon {
  background: rgb(47, 47, 75);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  transition: 0.3s;
  border: 2px solid;
  border-color: rgba($white, 0);
  font-size: 20px;

  &:hover {
    color: $white;
    background: lighten(rgb(47, 47, 75), 10%);
    transform: rotate(45deg);
  }
}

.bg-light-solid {
  background: #2f2f4b;
}

.bg-dark-solid {
  background: #181827;
}

.shape-bg {
  position: absolute;
  width: 220px;
  height: 220px;
  background: #2c2c40;
  opacity: 0.6;
  border-radius: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  &.dark {
    background: lighten(#2c2c40, 8%);
    opacity: 0.4;
  }
}

.tts-demo {
  max-width: 800px;
}

.form-control,
.form-select {
  border-width: 1px;
  border-color: $white;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;

  &:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $primary;
  }
}

.title-split {
  transform: translate(0, 600px);
}

.title-outline-split {
  opacity: 0;
  transform: translate(0, 8rem);
  -webkit-text-stroke: 1px rgba($white, 0.06);
}

$color-background: #f5f5f5;
$color-main: #181827;
$color-active: #fff;
$color-link: #fff;

$button-height: 24px;
$button-width: 27px;

$font: montserrat, sans-serif;

.button_container {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  transition: opacity 0.25s ease;
  border: 0;
  background-color: transparent;
  z-index: 100;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: rgba($white, 0.5);
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    z-index: 15;

    &:nth-of-type(2) {
      top: 10px;
    }

    &:nth-of-type(3) {
      top: 20px;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 25%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.overlay {
  position: fixed;
  background: rgb(23, 23, 37);
  background: linear-gradient(
    180deg,
    rgba(23, 23, 37, 1) 0%,
    rgba(29, 29, 48, 1) 100%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  overflow: hidden;
  font-weight: 300;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      li {
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.2s;
        font-size: 24px;
        font-weight: 600;
        margin: 1.1rem 0;
        border-width: 4px;

        &:nth-of-type(2) {
          animation-delay: 0.3s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: $font;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: 0.35s;
        }
      }
    }
  }
}

.lock-scroll {
  overflow: hidden;
  height: 100%;
}

.about-title {
  max-width: 1000px;
}

.about-title-lg {
  font-size: 7rem;
}

.about-icon {
  position: absolute;
  font-size: 44px;
  z-index: 2;
  left: 0;
  right: 0;
  top: -20px;
  margin: 0 auto;
  transition: 0.3s;
  // color: lighten(#4d4d66, 40%);
  color: lighten($primary, 0%);
}

.about-card {
  min-height: 185px;
  border-width: 3px;

  &:hover > .about-icon {
    transform: translate(0, -4px);
  }
}

.about-section {
  padding-top: 0rem;
}

.about-cards-container {
  position: relative;
}

.img-border {
  border-radius: 8px;
  border: 3px solid;
  border-color: rgba(#4d4d66, 0.6);
}

.img-hover {
  &:hover > img {
    transform: scale(1.2);
  }
}

.mw-text {
  max-width: 620px;
}

.swiper {
  margin-top: 4.5rem;

  .swiper-card {
    margin-bottom: 4.5rem;
    transition: 0.3s;
    height: auto;
    padding: 40px 40px;
  }

  .swiper-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .press-logo {
    max-height: 34px;
    width: auto;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  ) !important;
  background: rgba($white, 0.6) !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $primary !important;
  opacity: 1;
}

:root {
  --swiper-theme-color: #fa6b68 !important;
}

@media (max-width: 1199.98px) {
  .hero-img {
    padding-top: 100px;

    &.roko {
      margin: 0;
      margin-bottom: 60px;
      margin-left: -310px;
      height: 100%;
    }
    &.basilisk {
      margin: 0;
      margin-bottom: 30px;
      margin-right: -300px;
      height: 100%;
    }
    &.pascal {
      // margin-bottom: 40px;
      height: 100%;
    }
  }

  .bg-floor {
    height: 130px;
    border-radius: 0 0 0 0;
  }

  .hero-title {
    font-size: 8vw;
    white-space: nowrap;
    line-height: 1;
    letter-spacing: normal;

    .hero-title-one {
      text-align: center;
    }

    .hero-title-two {
      text-align: center;
      margin: 0;
    }
  }

  .hero-sub-title {
    max-width: 50%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .lead {
    font-size: 18px;
  }

  .shape-2 {
    display: none;
  }

  .shape-3-container {
    bottom: 40%;
    right: 20%;
  }

  .section-pb-extra {
    padding-top: 4rem;
  }

  .marquee-title {
    margin-top: 60px;
    font-size: 5rem;
  }

  .section-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 767.98px) {
  .hero-img {
    padding-top: 60px;

    &.roko {
      margin: 0;
      margin-bottom: 60px;
      margin-left: -310px;
    }
    &.basilisk {
      margin: 0;
      margin-bottom: 30px;
      margin-right: -300px;
    }
    // &.pascal {
    //   margin-bottom: 40px;
    // }
  }

  .hero-title {
    font-size: 11.5vw;
  }

  .hero-sub-title {
    max-width: 90%;
  }

  .shape-1-container {
    left: 12%;
    bottom: 14%;
  }

  .shape-4 {
    display: none;
  }

  .shape-3-container {
    bottom: 40%;
    right: 12%;
  }

  .section-pb-extra {
    padding-top: 3rem;
  }

  .marquee-title {
    scroll-margin-top: 50px;
    font-size: 3rem;
  }

  .pt-10 {
    padding-top: 5rem;
  }

  .tts-demo {
    padding: 18px;
  }

  .btn {
    display: flex;
  }

  .swiper {
    margin-top: 2rem;

    .swiper-card {
      padding: 2rem;
    }
  }
}

#sub-title {
  opacity: 0;
  transform: translate(8rem, 0);
}

#pascal {
  opacity: 0;
  transform: translate(0, 300px);
}

#basilisk {
  opacity: 0;
  transform: translate(300px, 0);
}

#roko {
  opacity: 0;
  transform: translate(-300px, 0);
}
