//@import-normalize; /* bring in normalize.css styles */
@import "./locomotive-scroll.scss";

$light-text-color: #777;
$button-text-color: #666;
$primary: #fa6b68;
$white: #ffffff;

$body-font-family: "Fira Sans", serif;

// html {
//   cursor: none;
// }

body {
  font-family: $body-font-family;
  font-weight: 300; // For Fira Sans
  color: $white;
}

::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: $primary;
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
}

.container {
  max-width: 1200px;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
}

.git-sha {
  color: #999;
  font-size: 0.8rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bg-hero {
  background: rgb(34, 34, 56);
  background: linear-gradient(
    180deg,
    rgba(34, 34, 56, 1) 0%,
    rgba(23, 23, 37, 1) 100%
  );
  height: 100vh;
  min-height: 960px;
  max-height: 965px;
  overflow: hidden;
  position: relative;
}

#logo {
  transition: 0.3s all;

  &:hover {
    opacity: 0.7;
  }
}

#content {
  z-index: 10;
}

#navbar {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  padding: 0;
  transition: 0.3s all ease;
}

.nav-scroll {
  margin-top: -100px;
  opacity: 0;
}

.topnav {
  z-index: 10;
}

.nav-up {
  top: -70px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: rgba($white, 0.6);
  padding: 4px 0;
  margin: auto 24px;
  position: relative;
  text-decoration: none;

  &:focus {
    color: rgba($white, 0.6);
  }

  &:hover {
    color: $white;
  }

  &.active {
    color: $white;
    border-bottom: 3px solid $primary;
  }
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $primary;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover:not(.active)::before {
  transform-origin: left;
  transform: scaleX(1);
}

.lead {
  color: rgba($white, 0.8);
}

.fw-semibold {
  font-weight: 500;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.btn {
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 28px 12px 28px;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.4s ease;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color: $primary !important;
  border: 2.5px solid;
  border-color: $primary !important;
  transition: 0.2s;
  color: $white;
  outline: none;
  box-shadow: none;

  &:hover {
    background-color: lighten($primary, 3%) !important;
    border-color: lighten($primary, 3%) !important;
    color: $white;
  }
  background-color: transparent;
  border: none;
  position: relative;

  &:hover {
    background-color: transparent;
    border: none;
  }
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;

  &::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
}

.btn:hover span {
  padding-right: 25px;

  &:after {
    opacity: 1;
    right: 0;
  }
}

.hero-title-container {
  position: relative;
}

.hero-title {
  font-size: 7.5rem;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  padding-top: 130px;
  letter-spacing: 3px;
  // text-shadow: 0px 10px 100px #171725;
  z-index: 1;
  white-space: nowrap;

  .hero-title-one {
    text-align: left;

    span {
      color: $primary;
    }
  }

  .hero-title-two {
    margin-top: -35px;
    padding-left: 22%;
  }
}

.hero-sub-title {
  max-width: 420px;
  margin-top: -10px;
}

.hero-title-outline {
  position: absolute;
  width: 100%;
  transform: scale(1.72);
  top: -44px;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 0.5px rgba($white, 0.08);
}

.shape-1-container {
  position: absolute;
  bottom: 38%;
  left: 18%;
}
.shape-1 {
  width: 140px;
  height: 140px;
  background: #2c2c40;
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0.6;
}

.shape-2 {
  width: 220px;
  height: 220px;
  background: #2c2c40;
  border-radius: 16px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  position: absolute;
  top: -10%;
  right: 18%;
  z-index: 5;
  opacity: 0.6;
}

.shape-3-container {
  position: absolute;
  bottom: 32%;
  right: 28%;
}

.shape-3 {
  width: 100px;
  height: 100px;
  background: #2c2c40;
  border-radius: 12px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0.6;
}

.shape-4-container {
  position: absolute;
  bottom: 15%;
  left: 32%;
}

.shape-4 {
  width: 60px;
  height: 60px;
  background: #2c2c40;
  border-radius: 10px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  opacity: 0.6;
}

.zi-1 {
  z-index: 1;
}

.zi-2 {
  z-index: 2;
}

.zi-10 {
  z-index: 10;
}

.hero-img {
  width: 100%;
  min-width: 1920px;
  position: absolute;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.bg-light {
  background: rgb(47, 47, 75);
  background: linear-gradient(
    180deg,
    rgba(47, 47, 75, 1) 0%,
    rgba(32, 32, 51, 1) 100%
  );
}

.bg-dark {
  background: rgb(23, 23, 37);
  background: linear-gradient(
    180deg,
    rgba(23, 23, 37, 1) 0%,
    rgba(29, 29, 48, 1) 100%
  );
}

.section {
  margin-top: -1px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-2 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.section-pb-extra {
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 5rem;
}

.social-icons {
  margin-left: 1rem;
  font-size: 26px;
  position: absolute;
  top: 50%;

  a {
    color: #7676a0;
    transition: 0.3s;

    &:hover {
      color: lighten(#7676a0, 10%);
      transform: translateX(5px);
    }
  }
}

.btn-to-top {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: -100px;
  opacity: 0;
  pointer-events: none;
  margin: 40px;
  transition: 0.3s;

  .btt-shape {
    width: 40px;
    height: 40px;
    background: rgba($white, 0.05);
    border-radius: 10px;
    transform: translate3d(0px, 0px, 0px) rotate(45deg);
    z-index: 5;
    position: absolute;
    top: -4px;
    left: -20px;
    transition: 0.3s;
  }
  &:hover > .btt-shape {
    transform: translate3d(0px, 0px, 0px) rotate(135deg);
    opacity: 1;
    background: rgba($primary, 0.1);
  }

  &.show {
    display: block;
    transition: 0.3s;
    opacity: 1;
    pointer-events: all;
    right: 0;
  }
}

.text-shape-layer {
  width: 50px;
  height: 50px;
  background: rgba($primary, 0.2);
  border-radius: 10px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  z-index: 5;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  margin: auto 0;
  transition: 0.3s;
}

.card {
  height: 100%;
  padding: 28px;
  border-radius: 12px;
  border: 3px solid;
  border-color: rgba(#4d4d66, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-size: 18px;

  &:hover {
    border-color: rgba(#4d4d66, 1);
  }
}

.red-line {
  position: absolute;
  margin-top: 86px;
  width: 100%;
  height: 14px;
  background: rgba($primary, 0.8);
}

.divider-logo {
  height: 220px;
  margin-top: 80px;
  position: absolute;
}

.marquee-title {
  font-size: 7.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 7.5rem;

  .text-outline {
    -webkit-text-stroke: 2px rgba(#4d4d66, 1);
  }
}

.text-red {
  color: $primary !important;
}

.footer-top {
  position: relative;
}

.footer-bottom {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 13px;
  background: rgb(47, 47, 75);
}

.footer-title {
  font-size: 10rem;
  color: rgba($white, 0);
  -webkit-text-stroke: 2px rgba(#4d4d66, 0.3);
  letter-spacing: 3px;
  font-weight: 900;
  margin: 0;
}

.footer-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
  height: 320px;
}

.footer-social-icon {
  background: rgb(47, 47, 75);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  transition: 0.3s;
  border: 2px solid;
  border-color: rgba($white, 0);
  font-size: 20px;

  &:hover {
    color: $white;
    background: lighten(rgb(47, 47, 75), 10%);
    transform: rotate(45deg);
  }
}
