@import "scss/colours.scss";

.vst-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.vst-sbs-panel {
  background-color: $panel;
  height: 400px;
  overflow: hidden;
  border: lighten($panel, 10%) solid 2px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.vst-sbs-video-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.vst-sbs-video-overlay-container {
  position: relative;
  height: 100%;
}

.vst-sbs-video-overlay-text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  color: white;
  padding: 0.75rem;
}

.vst-sbs-video-overlay-cta {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  color: $white;
  font-weight: 500;
  padding: 0.75rem;
}

@media (max-width: 992px) {
  .vst-sbs-panel {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .vst-sbs-panel {
    height: 240px;
  }
}
