/*
styles with important tags:
.container
*/

// Old design parents all elements with class "fakeyou-old"
// Refresh design parents all elements with class "fakeyou-refresh"
//
// The reason for this is that WebPack imports and packs all SCSS files, which
// makes it impossible to dynamically change styles.
//
// Once the rollout is complete, this outer wrapper class can be removed.
.fakeyou-refresh {
  p {
    font-weight: 300;
    margin-bottom: 0;
    color: rgba($white, 0.9);
  }

  a {
    font-weight: 400;
    color: $primary;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      color: lighten($primary, 5%);
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $white;
    opacity: 0.1;
  }

  html.sr .load-hidden {
    visibility: hidden;
  }

  select {
    cursor: pointer;
  }

  .no-wrap {
    white-space: nowrap;
  }

  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }

  thead,
  tbody {
    border-color: rgba($white, 0.2) !important;
  }

  th {
    color: $white;
    font-weight: 700;
    vertical-align: text-top;
  }

  td {
    color: rgba($white, 0.8);
    font-weight: 400;
  }

  .table-mw {
    min-width: 200px;
  }

  .rounded {
    border-radius: 8px !important;
  }

  code {
    color: $primary;
    background-color: rgba($white, 0.06);
  }

  .text-link {
    color: $primary;
  }

  .text-light {
    color: rgba($white, 0.7) !important;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .container {
    max-width: 1080px !important;
  }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
  }

  .py-6 {
    padding-top: 1.6rem !important;
    padding-bottom: 0.4rem !important;
  }

  .lead {
    color: rgba($white, 0.8);
    font-size: 17px;
  }

  .text-red {
    color: $primary;
  }

  .btn {
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 24px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-primary,
  .btn-primary:focus,
  .btn-primary:active {
    background-color: $primary !important;
    border: 2.5px solid;
    border-color: $primary !important;
    transition: 0.2s;
    color: $white;
  }
  .btn-primary:hover {
    background-color: lighten($primary, 5%) !important;
    border-color: lighten($primary, 5%) !important;
    color: $white;
  }

  .btn-secondary,
  .btn-secondary:focus,
  .btn-secondary:active {
    background-color: $secondary;
    color: $white;
    border: 2.5px solid;
    border-color: $secondary;
    transition: 0.2s;
  }

  .btn-secondary:hover {
    background-color: lighten($secondary, 5%) !important;
    color: $white;
    border: 2.5px solid;
    border-color: lighten($secondary, 5%) !important;
  }

  .btn-secondary.disabled,
  .btn-secondary:disabled {
    color: $white;
    background-color: lighten($secondary, 5%) !important;
    border-color: lighten($secondary, 5%) !important;
  }

  .btn-destructive,
  .btn-destructive:focus,
  .btn-destructive:active {
    background-color: $danger;
    color: $white;
    border: 2.5px solid;
    border-color: $danger;
    transition: 0.2s;
  }

  .btn-destructive:hover {
    background-color: lighten($danger, 5%) !important;
    color: $white;
    border: 2.5px solid;
    border-color: lighten($danger, 5%) !important;
  }

  .btn-inform {
    height: 42px;
    align-items: center;
    padding: 0 0.75rem;
    padding-top: 1px;
    font-size: 22px;
  }

  .panel {
    position: relative;
    width: 100%;
    background-color: $panel;
    border-color: #ffffff12 !important;
    border: 1px solid;
    border-radius: 0px;

    .panel-title {
      position: static;
      text-align: center;
      text-shadow: 0px 3px 26px #00000060;
      margin-top: -35px;
    }

    h2.panel-title {
      margin-top: -32px;
    }

    a {
      color: lighten($primary, 5%);

      &:hover {
        color: $primary;
      }

      &.btn {
        color: $white;

        &.btn-secondary {
          color: $white;
        }
      }
    }
  }

  .menu {
    border-radius: 8px !important;
    color: #000;
    font-weight: 400;
    position: absolute;
    border-color: rgba($white, 0.12) !important;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba($black, 0.3);
    z-index: 3;
    overflow: hidden;
  }

  .menu-item {
    padding: 0.25rem;
    padding-left: 2.375rem;
    padding-right: 2.375rem;
    cursor: pointer;
    background-color: $white;
    border-bottom: 1px solid;
    border-color: rgba(#000, 0.06);
    transition: 0.1s;

    &:hover {
      background-color: darken($white, 10%);
    }
  }

  .login-panel {
    max-width: 800px !important;
    backdrop-filter: blur(5px);
  }

  .sub-title {
    font-weight: 500;
    padding-bottom: 10px;
  }

  .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  }

  .form-control,
  .form-select {
    border-width: 1px;
    border-color: $white;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;

    &:focus {
      border-color: $primary;
      outline: 0;
      box-shadow: 0 0 0 0.1rem $primary;
    }
  }

  .fa-solid,
  .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }

  .form-text {
    margin-top: 10px;
    color: darken($white, 10%);

    &.red {
      color: lighten($primary, 5%);
    }
  }

  .alert {
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;

    a {
      color: darken($primary, 3%);

      &:hover {
        opacity: 0.85;
      }
    }

    &.alert-dismissible {
      padding-right: 2.75rem;
    }
  }

  .input-icon {
    display: flex;
    align-items: center;

    .form-control {
      padding-left: 2.375rem;
    }

    .form-select {
      padding-left: 2.375rem;
      padding-right: 2.375rem;
    }

    .form-control-feedback {
      position: absolute;
      z-index: 2;
      width: 2.375rem;
      // height: 2.375rem;
      // line-height: 2.69rem;
      text-align: center;
      pointer-events: none;
      color: $secondary;
      opacity: 0.9;
    }
  }

  .social-icon {
    font-size: 24px;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: rgba($white, 0.6);
    }
  }

  .firehose-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul.patrons-list {
    columns: 1;
    list-style: none;
  }

  .form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
  }

  .form-check-input:focus {
    box-shadow: none;
  }

  .panel-border {
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 4px lighten($primary, 5%);
  }

  ul.pricing-list {
    list-style: none;
  }

  ul li {
    @for $i from 1 through 20 {
      &:nth-of-type(#{$i}) {
        animation-delay: $i * 100ms !important;
      }
    }
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  .content p:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  tbody tr {
    @for $i from 1 through 12 {
      &:nth-of-type(#{$i}) {
        animation-delay: $i * 20ms !important;
      }
    }
  }

  .video-card {
    border-radius: 5px;
    border: 4px solid;
    border-color: #fff;
    padding: 1rem;
    position: relative;
    width: 100%;
    min-height: 160px;
    transition: 0.2s;
    overflow: hidden;
    z-index: 2;
  }

  .video-card:hover {
    cursor: pointer;
    border-color: #fc6b68;
  }

  .video-card:hover .video-card-body {
    opacity: 1;
  }

  .video-card:hover .video-img {
    transform: scale(1.05);
    transition: 0.2s;
  }

  .video-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    transition: 0.2s;
  }

  .video-card-body {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    padding: 0.75rem;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 32%,
      rgba(0, 0, 0, 1) 100%
    );
    opacity: 0;
    transition: 0.2s;
  }

  .video-card-title {
    font-size: 14px;
    color: $white;
  }

  .video-card-text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }

  .profile-social-icons {
    font-size: 22px;
  }

  .w2l-ani .w2l-ani-item {
    @for $i from 1 through 100 {
      &:nth-of-type(#{$i}) {
        animation-delay: $i * 50ms !important;
      }
    }
  }

  .tts-result-table tbody tr th {
    width: 35%;
  }

  .badge {
    font-weight: 500;
    font-size: 13px;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;

    &.badge-destructive {
      background-color: $white;
      color: $primary;

      &.btn {
        border-radius: 5px;
        font-weight: 600;
        &:hover {
          background-color: #fdcfce;
        }
      }
    }

    &.badge-warning {
      background-color: #fff3cd;
      color: #664d03;
    }
  }

  .rounded-circle {
    border-radius: 50px;
  }

  .btn-toggle {
    margin: 0;
    padding: 0;
    color: rgba($white, 0.8);

    &.dark {
      color: rgba($white, 0.8);
    }

    &:hover {
      color: rgba($white, 0.6);
    }
  }

  .btn-close {
    transition: 0.2s;
  }
}

select {
  border-color: $input-dark !important;
  background-color: $input-dark !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.btn-destructive {
  background-color: $danger !important;
}

.video-card-title,
.video-card-text {
  color: $white !important;
}

textarea {
  background-color: $input-dark !important;
  border-color: $input-dark !important;
  color: $white !important;
}

.form-select {
  color: $white !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba($white, 0.5) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba($white, 0.5) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba($white, 0.5) !important;
}

.input-icon .form-control-feedback {
  color: $white !important;
}

input {
  background-color: $input !important;
  border-color: $input !important;
  color: $white !important;
}

@media (min-width: 992px) {
  .fakeyou-refresh {
    .panel {
      .panel-title {
        position: absolute;
        text-align: left;
        top: 0;
        margin-top: -25px;
      }

      h2.panel-title {
        margin-top: -20px;
      }
    }

    .p-lg-4 {
      padding: 2rem !important;
    }

    .lead {
      font-size: 20px;
    }

    .alert {
      font-size: 13px;
    }
  }
}

@media (min-width: 768px) {
  .fakeyou-refresh {
    .container-panel {
      width: 100%;
      padding-right: var(--bs-gutter-x, 1rem);
      padding-left: var(--bs-gutter-x, 1rem);
      margin-right: auto;
      margin-left: auto;
      max-width: 1080px;
      border-radius: 8px;
    }

    .panel {
      border-radius: 8px;
    }

    ul.patrons-list {
      columns: 3;
    }

    .video-card {
      min-height: 220px;
    }
  }
}
