.fy-live-portrait-header {
	display: flex;
	justify-content: space-between;
}

.fy-live-portrait-inputs {
	display: inline-grid;
	width: 100%;
	gap: 1rem;
	grid-template-columns: auto auto auto;
	margin-bottom: 1rem;
	height: fit-content;

	.fy-live-portrait-column {
		// width: 33%;
		display: inline-block;
	}
}
