@import "scss/colours.scss";

.seed-vc-icon {
  height: 32px;
  width: 32px;
  padding: 20px;
  background-color: $secondary;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba($white, 0.2);
}
