@import "scss/colours.scss";

table {
  font-size: 14px;
  margin-bottom: 0 !important;
}

td {
  padding: 8px 16px !important;
  min-width: 124px !important;
}

.no-outer-border {
  border: none !important;
}

.no-outer-border > thead > tr > th:first-child,
.no-outer-border > tbody > tr > td:first-child {
  border-left: none !important;
}

.no-outer-border > thead > tr > th:last-child,
.no-outer-border > tbody > tr > td:last-child {
  border-right: none !important;
}

.no-outer-border > tbody > tr:last-child > td {
  border-bottom: none !important;
}

.data-table-property {
  background-color: lighten($panel, 7%) !important;
}
