* {
  scrollbar-width: thin;
  scrollbar-color: #676781 #39394d79;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #39394d;
}

*::-webkit-scrollbar-thumb {
  background-color: #39394d;
  border-radius: 30px;
  border: 3px solid gray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  color-scheme: dark;
  user-select: none;
}

img {
  user-select: none;
  pointer-events: none;
}

.topbar-spacer {
  height: 64px;
  width: 100vw;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.text-overflow-ellipsis {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */

/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #393948;
  color: #393948;
  box-shadow:
    9984px 0 0 0 #393948,
    9999px 0 0 0 #393948,
    10014px 0 0 0 #393948;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow:
      9984px 0 0 0 #393948,
      9999px 0 0 0 #393948,
      10014px 0 0 0 #393948;
  }
  16.667% {
    box-shadow:
      9984px -10px 0 0 #393948,
      9999px 0 0 0 #393948,
      10014px 0 0 0 #393948;
  }
  33.333% {
    box-shadow:
      9984px 0 0 0 #393948,
      9999px 0 0 0 #393948,
      10014px 0 0 0 #393948;
  }
  50% {
    box-shadow:
      9984px 0 0 0 #393948,
      9999px -10px 0 0 #393948,
      10014px 0 0 0 #393948;
  }
  66.667% {
    box-shadow:
      9984px 0 0 0 #393948,
      9999px 0 0 0 #393948,
      10014px 0 0 0 #393948;
  }
  83.333% {
    box-shadow:
      9984px 0 0 0 #393948,
      9999px 0 0 0 #393948,
      10014px -10px 0 0 #393948;
  }
  100% {
    box-shadow:
      9984px 0 0 0 #393948,
      9999px 0 0 0 #393948,
      10014px 0 0 0 #393948;
  }
}

/**
  * ==============================================
  * Dot Bricks
  * ==============================================
  */
.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #393948;
  color: #393948;
  box-shadow:
    9991px -16px 0 0 #393948,
    9991px 0 0 0 #393948,
    10007px 0 0 0 #393948;
  animation: dot-bricks 2s infinite ease;
}

@keyframes dot-bricks {
  0% {
    box-shadow:
      9991px -16px 0 0 #393948,
      9991px 0 0 0 #393948,
      10007px 0 0 0 #393948;
  }
  8.333% {
    box-shadow:
      10007px -16px 0 0 #393948,
      9991px 0 0 0 #393948,
      10007px 0 0 0 #393948;
  }
  16.667% {
    box-shadow:
      10007px -16px 0 0 #393948,
      9991px -16px 0 0 #393948,
      10007px 0 0 0 #393948;
  }
  25% {
    box-shadow:
      10007px -16px 0 0 #393948,
      9991px -16px 0 0 #393948,
      9991px 0 0 0 #393948;
  }
  33.333% {
    box-shadow:
      10007px 0 0 0 #393948,
      9991px -16px 0 0 #393948,
      9991px 0 0 0 #393948;
  }
  41.667% {
    box-shadow:
      10007px 0 0 0 #393948,
      10007px -16px 0 0 #393948,
      9991px 0 0 0 #393948;
  }
  50% {
    box-shadow:
      10007px 0 0 0 #393948,
      10007px -16px 0 0 #393948,
      9991px -16px 0 0 #393948;
  }
  58.333% {
    box-shadow:
      9991px 0 0 0 #393948,
      10007px -16px 0 0 #393948,
      9991px -16px 0 0 #393948;
  }
  66.666% {
    box-shadow:
      9991px 0 0 0 #393948,
      10007px 0 0 0 #393948,
      9991px -16px 0 0 #393948;
  }
  75% {
    box-shadow:
      9991px 0 0 0 #393948,
      10007px 0 0 0 #393948,
      10007px -16px 0 0 #393948;
  }
  83.333% {
    box-shadow:
      9991px -16px 0 0 #393948,
      10007px 0 0 0 #393948,
      10007px -16px 0 0 #393948;
  }
  91.667% {
    box-shadow:
      9991px -16px 0 0 #393948,
      9991px 0 0 0 #393948,
      10007px -16px 0 0 #393948;
  }
  100% {
    box-shadow:
      9991px -16px 0 0 #393948,
      9991px 0 0 0 #393948,
      10007px 0 0 0 #393948;
  }
}

.ReactCrop__crop-selection:focus {
  outline: none !important;
}
