@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #1b1b1f;
  }
}

.bg-dots {
  background-image: radial-gradient(#ffffff20 1px, transparent 0);
  background-color: #101014;
  background-size: 33px 33px;
  @apply bg-center;
}
