:root {
  --primary: #e66462;
  --primary-light: #ea7a78;
}
html,
body {
  background-color: #1a1a27;
  color: #fff;
  font-size: 16px;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

header,
footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #242433;
  border-color: #2d2d3a;
  width: 100%;
  margin: 0;
  padding: 1rem;
  z-index: 1;
}

header {
  position: fixed;
  height: 66px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

footer {
  border-top-width: 1px;
  border-top-style: solid;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1em;
}

a {
  color: #e66462;
  text-decoration: none;
}

.title-container,
.image-title-container,
.content-container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto 1rem;
}

.title-container,
.image-title-container {
  padding-top: 86px;
}

.image-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  width: 66%;
  flex-grow: 1;
}

.title-image {
  width: 33%;
  flex-grow: 0;
}

.content-container {
  box-sizing: border-box;
  background-color: #242433;
  border: #2a2a35 1px solid;
  border-radius: 0.5rem;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.16),
    0 70px 65px rgba(0, 0, 0, 0.08),
    0 30px 30px rgba(0, 0, 0, 0.07),
    0 15px 15px rgba(0, 0, 0, 0.05),
    0 10px 8px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.02),
    0 2px 2px rgba(0, 0, 0, 0.01);
  outline: none;
  padding: 0.5rem 2rem;
  position: relative;
}
