@import "scss/colours.scss";
@import "scss/site-refresh.scss";

.fy-featured-voices-section {
  background-color: rgba($action, 0.25);
  border-radius: 0.5rem;
  padding: 16px;
}

.fy-featured-voices-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.fy-featured-voices-scroll-container::-webkit-scrollbar {
  display: none;
}

.fy-featured-voices-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fy-featured-voices-scroll-container > div {
  flex: 0 0 auto;
  width: 84%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .fy-featured-voices-scroll-container {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .fy-featured-voices-scroll-container > div {
    width: calc((100% / 2) - (1rem / 2));
  }
}

@media (min-width: 992px) {
  .fy-featured-voices-scroll-container {
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  .fy-featured-voices-scroll-container > div {
    width: calc((100% / 4) - (1rem * 3 / 4));
  }
}

.fy-featured-voices {
  background-color: $secondary-light;
  border-radius: 0.5rem;
  padding: 0.6rem;
  border: 2px solid $action;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  height: 100%;
  scroll-snap-align: start;
  flex: 0 0 auto;

  &:hover {
    border-color: $primary;
    background-color: rgba($action, 0.7);
  }
}

.fy-select-voice {
  color: $white;
  padding: 1px 8px;
  background-color: lighten($action, 5%);
  border-radius: 0.35rem;
  font-size: 13px !important;
  transition: all 0.2s;

  &:hover {
    background-color: lighten($action, 10%);
  }
}

.fy-weight-picker {
  @include panel;
  border-radius: 0.5rem;
  background-color: rgba($secondary, 0.6);

  .fy-card-badge {
    display: inline-flex;
    margin-left: 0.5rem;
  }

  .fy-input {
    margin-bottom: 0;
  }
}

.fy-weight-picker-preview {
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: rgba($action, 0.8);
  border: 2px solid lighten($action, 12%);
  display: flex;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;

  .cover-img {
    margin-right: 16px;
  }

  .fy-weight-picker-preview-text {
    font-size: 20px !important;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 16px !important;
    }
  }

  &:hover {
    background-color: rgba($action, 1);
    border: 2px solid $primary;
  }
}

.fy-weight-picker-reselect {
  background-color: $secondary;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0 auto auto;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $action;
  }
}

.fy-card-badge {
  display: flex;
  height: min-content;
}

.fy-trump-select {
  // background-color: red;
  height: 10rem;
  margin-bottom: 1rem;
  display: flex;

  // display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  button {
    flex-grow: 1;
    background: $secondary;
    appearance: none;
    color: #fff;
    outline: none;
    border-radius: 0.5rem;
    border: 2px solid $secondary;
    overflow: hidden;
    padding: 0;
    display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;

    &.fy-selected-trump {
      border-color: $primary;
    }

    img {
      border-radius: 0.25rem;
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.45;
      transform: translate(-50%, -50%);
      transition: 0.25s all;
    }

    &:hover img {
      transform: translate(-50%, -50%) scale(1.05);
      opacity: 0.66;
    }

    b {
      position: absolute;
      color: rgba(#fff, 0.66);
      font-size: 1.125rem;
      height: 1em;
      line-height: 1em;
      margin: 0.5rem auto auto 0.5rem;
    }
  }
}
