@import "scss/colours.scss";
@import "scss/site-refresh.scss";

.fy-featured-voices-section {
  background-color: rgba($action, 0.25);
  border-radius: 0.5rem;
  padding: 20px;
}

.fy-featured-voices {
  background-color: $secondary-light;
  border-radius: 0.5rem;
  padding: 0.6rem;
  border: 2px solid $action;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  height: 100%;

  &:hover {
    border-color: $primary;
    background-color: rgba($action, 0.7);
  }
}

.fy-select-voice {
  color: $white;
  padding: 1px 8px;
  background-color: lighten($action, 5%);
  border-radius: 0.35rem;
  font-size: 13px !important;
  transition: all 0.2s;

  &:hover {
    background-color: lighten($action, 10%);
  }
}

.fy-weight-picker {
  @include panel;
  border-radius: 0.5rem;
  background-color: rgba($secondary, 0.6);

  .fy-card-badge {
    display: inline-flex;
    margin-left: 0.5rem;
  }

  .fy-input {
    margin-bottom: 0;
  }
}

.fy-weight-picker-preview {
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: rgba($action, 0.8);
  border: 2px solid lighten($action, 12%);
  display: flex;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;

  .cover-img {
    margin-right: 16px;
  }

  .fy-weight-picker-preview-text {
    font-size: 20px !important;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 16px !important;
    }
  }

  &:hover {
    background-color: rgba($action, 1);
    border: 2px solid $primary;
  }
}

.fy-weight-picker-reselect {
  background-color: $secondary;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0 auto auto;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $action;
  }
}

.fy-card-badge {
  display: flex;
  height: min-content;
}
