.obj-uploader-modal-load-view {
	.uploader-dots {
		background: transparent;
		margin-bottom: 1rem;
	}
	.uploader-message {
		width: 100%;
		opacity: 0.5;
		text-align: center;
	}
}

.object-preview-canvas {
	width: 100%;
	overflow: hidden;
}
