@import "scss/colours.scss";

.search-bar-container {
  display: flex;
  justify-content: center;
}

.search-bar-group {
  position: relative;
  width: 580px;
}

.search-field {
  .form-control {
    padding-top: 7.25px !important;
    padding-bottom: 7.25px !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
    position: relative;
    z-index: 3;

    &::placeholder {
      color: rgba($white, 0.3) !important;
    }
  }
}

.search-results-dropdown {
  position: absolute;
  border-color: lighten($panel-inner, 6%) !important;
  border: 1px solid;
  top: 46px;
  width: 100%;
  z-index: 4;
  border-radius: 0.5rem;
  overflow: hidden;

  .search-results-dropdown-item {
    background-color: $panel-inner;
    border-bottom: 1px solid lighten($panel-inner, 6%);
    transition: 0.05s;

    &:hover {
      background-color: lighten($panel-inner, 6%);
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .view-more {
    display: flex;
    justify-content: center;
    color: $primary;
    font-size: 16px;
    font-weight: 500;
  }
}

.search-bar-button {
  border-radius: 0 0.5rem 0.5rem 0 !important;
  border-color: lighten($secondary, 5%) !important;
  background-color: lighten($secondary, 5%) !important;

  &:hover {
    border-color: lighten($secondary, 10%) !important;
    background-color: lighten($secondary, 10%) !important;
  }
}
