@import "scss/colours.scss";

.maintenance-container {
  max-width: 600px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintenance-content {
  border-radius: 12px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  @media (max-width: 768px) {
    padding: 20px 0px;
  }

  h1 {
    font-size: 26px;
  }

  .description {
    font-size: 18px;
    color: rgba($white, 0.6);
    margin-bottom: 32px;
    text-align: center;
    font-weight: 500;
  }

  .maintenance-icon {
    height: 80px;
    width: 80px;
    font-size: 36px;
    background-color: $secondary;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba($white, 0.2);
    margin-bottom: 24px;
  }

  button {
    font-size: 20px !important;
    font-weight: 500;
    color: #fff;
    background-color: $primary;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    padding: 14px;
    width: 300px;
    border: 4px solid lighten($primary, 12%);

    &:hover {
      background-color: lighten($primary, 5%);
      color: #fff;
      border: 4px solid lighten($primary, 12%);
    }

    &:active,
    &:focus {
      border: 4px solid lighten($primary, 12%);
    }
  }
}
