.fy-input {
  margin-bottom: 1rem !important;

  &:only-child,
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.d-flex:not(.flex-column) > .fy-input {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;

  &:only-child,
  &:last-child {
    margin-bottom: 0 !important;
  }
}
