.git
.idea/
cmake-build-debug/
cycle_gan/
data/
examples/
extra_model/
python/
saved_model/
saved_model_old/
tacotron_melgan/
tacotron_tensorflow/
target/
tmp/
voice_conversion_sidecar/

# Ignore Files
*png
*pt
*pyc
*pyo
*wav
*~
