*.swo
*.swp
*secret*sh
*~
.env
.env-secrets
.idea/
__pycache__/
_ignored_schema.rs
models/Wav2Lip/python/
models/tacotron2/python/
production_database_secret_connect.sh
production_database_secret_query.sh
production_database_voice_clone_report_download.sh
secrets.toml
secrets.yaml
target/
twitch_secrets.toml
