[package]
name = "voder-proxy"
edition = "2018"
version = "0.0.1"
authors = [
  "Brandon Thomas <bt@brand.io>",
  "Brandon Thomas <echelon@gmail.com>",
]
publish = false

[[bin]]
name = "voder-proxy"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.31"
env_logger = "0.7.1"
futures = "0.1"
#hyper = "0.13.6"
hyper = "0.12"
hyper-reverse-proxy = "0.4"
log = "0.4.8"
#simple_proxy = "1.3.1"
