[package]
name = "do-spaces-downloader"
edition = "2018"
version = "0.0.1"
authors = [
  "Brandon Thomas <bt@brand.io>",
  "Brandon Thomas <echelon@gmail.com>",
]
publish = false

[[bin]]
name = "do_spaces_downloader"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.31"
env_logger = "0.7.1"
hex = "0.4.2"
log = "0.4.8"
md-5 = "0.8.0"
rust-s3 = "0.22.4"

