[package]
name = "twitch-gateway"
version = "0.0.0"
edition = "2018"
authors = [ "Brandon Thomas <bt@brand.io>",
    "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "twitch-gateway"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.38"
twitch_api2 = "0.5.0-alpha.4"
