[package]
  name = "trumpet"
  version = "0.0.1"
  authors = [
    "Brandon Thomas <bt@brand.io,echelon@gmail.com>",
    "Scott Adams <scottadams@scottadams.me>",
  ]

[[bin]]
  name = "trumpet"

[dependencies]
  #cpal = "*" # Hardware audio output (for testing); works well with Hound.
  hound = "1.0.0" # WAV codec.
  #iron = "*" # HTTP/S server.
  #log = "0.3.*" # Error and debug logging.
  #regex = "0.1.*"
  #rustc-serialize = "0.3.15" # JSON parser, etc.
  #sample = "*" # Audio sampling tools
  #time = "0.1.*" # Duration, and other time types.
  #toml = "0.1.*" # TOML parser.

