[package]
name = "cloudcam"
version = "0.0.0"
edition = "2018"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "cloudcam_zeromq"
path = "src/main_zeromq.rs"

[dependencies]
anyhow = "1.0.32"
byteorder = "1.4.2"
bytes = "1.0.1"
clap = "3.0.0-beta.1"
env_logger = "0.7.1"
k4a-sys-temp = "0.2.3"
kinect = { path = "../kinect.rs" }
#kinect = "0.0.5"
libc = "0.2.68"
log = "0.4.11"
num-traits = "0.2.14"
rand = "0.7.3"
zmq = { version = "0.9", features = ['vendored'] }