[package]
name = "storyteller"
version = "0.0.0"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "camera"
path = "src/main.rs"

[dependencies]
#obj = "0.9.1"
#obj-rs = "0.6.1" # Out of the ~3 obj libraries, this has the best docs. (Wait, this requires normals)
anyhow = "1.0.32"
arcball = "1.0.0" # camera
cgmath = "0.17.0" # for arcball, but probably good for matrices, vecs, etc.
clap = "3.0.0-beta.1"
clipboard = "0.5" # to support imgui...
gl = "0.14.0" # this looks like bare bones OpenGL
glfw = "0.37.0" # GL framework - windows, contexts, devices
glfw-sys = "3.3.2" # Does this have linear algebra?
glium = { version = "0.26.0", default-features = true } # high-level OpenGL abstraction (*not* vanilla OpenGL)
image = "0.23.2"
imgui = "0.3.0" # OpenGL windowing toolkit (experimental bindings)
imgui-glium-renderer = "0.3.0"
imgui-opengl-renderer = "0.7.0"
imgui-sdl2 = "0.9.0" # for imgui-opengl-renderer
imgui-winit-support = "0.3.1"
k4a-sys = { path = "/home/bt/dev/3rd/k4a-sys" } # k4a-sys = "0.2.0"
libc = "0.2.68"
opencv = "0.33.1"
rand = "0.7.3"
sdl2 = "0.33" # for imgui-opengl-renderer
tobj = "1.0" # Another obj loader (using older version to match `tobj_viewer` binary/crate)
winit = "=0.21.0" # cross-platform window management, because imgui
