[package]
name = "voder"
version = "0.0.0"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[workspace]
members = [
  "tacotron_melgan",
  "tacotron_tensorflow",
  "tts_service",
  "voice_converter_sidecar",
]

default-members = [
  "tacotron_melgan",
  "tacotron_tensorflow",
  "tts_service",
  "voice_converter_sidecar",
]

