[package]
  name = "trumpet"
  version = "0.12.0"
  authors = [ "Brandon Thomas <bt@brand.io>",
              "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
  name = "trumpet"

[dependencies]
  #cpal = "*" # Hardware audio output (for testing); works well with Hound.
  chrono = { version = "0.2.*", features = ["rustc-serialize"] }
  clap = "1.5.*" # CLI parsing.
  hound = "2.0.*" # WAV codec.
  hyper = "0.9.*"
  iron = "0.4.*"
  lazy_static = "0.2.*"
  log = "0.3.*"
  mount = "0.2.*" # Path mounting middleware for Iron
  params = "0.3.*"
  regex = "0.1.*"
  resolve = "0.1.1"
  router = "0.2.*"
  rust-crypto = "0.2.*"
  rustc-serialize = "0.3.15"
  staticfile = "0.3.0" # Iron static file serving plugin
  time = "0.1.*"
  toml = "0.1.*"
  urlencoded = "0.4.*"

