[package]
name = "twitch-tts-desktop-client"
version = "0.0.0"
edition = "2018"
authors = [
  "Brandon Thomas <bt@brand.io>",
  "Brandon Thomas <echelon@gmail.com>"
]

[[bin]]
name = "twitch-tts-desktop-client"
path = "src/main.rs"

[dependencies]
# Async runtime, Futures, etc.
tokio = { version = "1.10.0", features = ["rt-multi-thread", "macros", "time"] }
futures-util = "0.3.17"

# Crypto
rustls = "0.20.0-beta2"

# Websockets
tokio-tungstenite = { version = "0.15.0", features = ["rustls", "rustls-tls"] }

# HTTP
reqwest = { version = "0.11.4" }

# Serialization
serde = "1.0.130"
serde_derive = "1.0.130"
toml = "0.5.8"

# Twitch
# (This is a fairly mature and robust Twitch chat library)
#twitchchat = { version = "0.14.8", features = ["tokio", "tokio-util", "async", "webpki-roots", "tokio-rustls"] }
# Twitch Helix etc. API, but no PubSub just yet
#twitch_api2 = "0.4.1"
#twitch_oauth2 = "0.4.1"
#twitch_api2 = "0.5.0"
#twitch_oauth2 = "0.5.0"
# NB "unsupported" pubsub features may disappear from the Twitch API at any time. It's an unofficial API.
twitch_api2 = { version = "0.6.0-rc.2", features = ["helix", "reqwest_client", "pubsub", "chrono", "unsupported"] }
twitch_oauth2 = "0.6.0-rc.2"

# Utils
anyhow = "1.0.44"
easyenv = "0.0.6"
log = "0.4.14"

#[build-dependencies]

