[package]
name = "voder"
version = "0.0.0"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "voder"

[dependencies]
cpal = "0.10.0" # hardware audio out
failure = "0.1.5" # required by cpal
hound = "3.4.0" # wav encoder/decoder
sample = "0.10.0" # DSP toolkit
sonogram = "0.3.0" # badass spectrograms
wavy = "0.1.2" # real time audio capture and playback


# NB: Manually upgraded 'tensorflow-sys' library from 1.13.1 to 1.14.0
# The downloaded tensorflow libs in target/ must be moved to /lib 
# (I couldn't figure out the Rust linker flags)
tensorflow = { path = "/home/bt/dev/3rd/tensorflow.rs" }
#tensorflow = "0.13.0" # tensorflow bindings

#chrono
#clap
#log
#time
#toml
