[package]
name = "storyteller"
version = "0.0.0"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "camera"
path = "src/main.rs"

[dependencies]
enum_primitive = "0.1.1" # c wrapper ergonomics
genmesh = "0.6.0" # for glium example
gfx = "0.18.2" # another high level OpenGL / multi-API abstraction?
glium="0.27.0" # high-level OpenGL abstraction (*not* vanilla OpenGL)
glutin = "0.21" # used by glium example code
grr = "0.7.0" # purports to be low-level OpenGL
image = "0.23.2"
k4a-sys = { path = "/home/bt/dev/3rd/k4a-sys" } # k4a-sys = "0.2.0"
libc = "0.2.68"
obj = "0.9.1"
opencv = "0.33.1"