[workspace]

members = [
  # Shared libraries
  "crates/lib/config",
  "crates/lib/container_common",
  "crates/lib/database_queries",
  "crates/lib/google_drive_common",
  "crates/lib/http_server_common",
  "crates/lib/jobs_common",
  "crates/lib/memory_caching",
  "crates/lib/redis_common",
  "crates/lib/storage_buckets_common",
  "crates/lib/tts_common",
  "crates/lib/twitch_common",
  "crates/lib/user_input_common",

  # Application 
  "crates/service/storyteller_web",
  "crates/service/tts_download_job",
  "crates/service/tts_inference_job",
  "crates/service/twitch_pubsub_subscriber",
  "crates/service/w2l_download_job",
  "crates/service/w2l_inference_job",
  "crates/service/websocket_gateway",
]

