[package]
name = "twitch-gateway"
version = "0.0.0"
edition = "2018"
authors = [
  "Brandon Thomas <bt@brand.io>",
  "Brandon Thomas <echelon@gmail.com>"
]

#[[bin]]
#name = "twitch-helix-demo"
#path = "src/main_helix_demo.rs"

[[bin]]
name = "twitch-chat-gateway"
path = "src/main_chat_gateway.rs"

[dependencies]
anyhow = "1.0.38"
rustls = "0.18"
serde = "1.0.123"
serde_derive = "1.0.123"
#smol = "1.2.5"
tokio = { version = "0.2", features = ["full"] }
#tokio = { version = "1.2.0", features = ["full"] }
toml = "0.5.8"

#redis = { version = "0.20.0", features = ["tokio", "tokio-native-tls-comp", "aio"] }
#redis = { version = "0.20.0", features = [] }
#redis = { version = "0.17.0", features = ["tokio", "tokio-util", "tokio-tls", "tls", "native-tls", "async-native-tls", "aio"] }
redis = { version = "0.17.0", features = ["tls", "async-std-tls-comp", "tokio-tls-comp"] }

# Twitch Helix etc. API, but no PubSub just yet
#twitch_api2 = "0.4.1"
#twitch_oauth2 = "0.4.1"

# Fairly mature and robust Twitch chat library
#twitchchat = { version = "0.14.8", features = ["async", "async-tls", "smol"] }
twitchchat = { version = "0.14.8", features = ["tokio", "tokio-util", "async", "webpki-roots", "tokio-rustls"] }

