[package]
name = "voder"
version = "0.0.0"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "voder"

[dependencies]
bytes = "0.4.12" # required by 'prost'
byteorder = "1.3.2" # byte-level operations
cpal = "0.10.0" # hardware audio out
failure = "0.1.5" # required by cpal
hound = "3.4.0" # wav encoder/decoder
prost = "0.5.*" # protobuf
prost-types = "0.5.0" # protobuf
sample = "0.10.0" # DSP toolkit
sonogram = "0.3.0" # badass spectrograms
#tensorflow = "0.13.0" # tensorflow bindings
wavy = "0.1.2" # real time audio capture and playback
world-sys = { path = "/home/bt/dev/world-sys" } # AWESOME WORLD VOCODER BINDINGS HAH HA HAH
zmq = "0.9.2" # zeromq

[patch.crates-io]
# NB: Manually upgraded 'tensorflow-sys' library from 1.13.1 to 1.14.0
# The downloaded tensorflow libs in target/ must be moved to /lib 
# (I couldn't figure out the Rust linker flags)
tensorflow = { path = "/home/bt/dev/3rd/tensorflow.rs" }

[build-dependencies]
prost-build = "0.5.0"

#chrono
#clap
#log
#time
#toml
