[workspace]

members = [
  # Shared libraries
  "crates/lib/config",
  "crates/lib/container_common",
  "crates/lib/database_queries",
  "crates/lib/http_server_common",
  "crates/lib/redis_common",

  # Application 
  "crates/service/obs_gateway",
  "crates/service/storyteller_web",
]

