[package]
name = "voder"
version = "0.0.0"
authors = [ "Brandon Thomas <bt@brand.io>",
            "Brandon Thomas <echelon@gmail.com>" ]

[workspace]
members = [
  "voice_converter_sidecar",
]
default-members = [
  "voice_converter_sidecar",
]

# [[bin]]
# name = "tacotron1"
# path = "src/tacotron_main.rs"
# required-features = ["tacotron"]
# default-features = true

#[[bin]]
#name = "tacotron2melgan"
#path = "src/tacotron2_melgan_main.rs"
#required-features = ["torch"]
#default-features = true

# [[bin]]
# name = "voder"
# path = "src/voder_main.rs"
# required-features = ["vocoder"]

#[dependencies]
#tensorflow = { version = "0.14.0", features = ["tensorflow_gpu"], optional = true }
# byteorder = "1.3.2" # byte-level operations
# bytes = "0.4.12" # required by 'prost'
# cpal = "0.10.0" # hardware audio out
# failure = "0.1.5" # required by cpal
# hound = "3.4.0" # wav encoder/decoder
# image = { version = "0.23.0-preview.0", optional = true }
# prost = "0.5.*" # protobuf
# prost-types = "0.5.0" # protobuf
# sample = "0.10.0" # DSP toolkit
# sonogram = "0.3.0" # badass spectrograms
# tch = "0.1.3"
# tch = { version = "0.1.3", optional = true } # pytorch bindings
# tensorflow = { version = "0.14.0", optional = true }
# wavy = "0.1.2" # real time audio capture and playback
# world-sys = { path = "/home/bt/dev/world-sys", optional = true } # AWESOME WORLD VOCODER BINDINGS HAH HA HAH
# zmq = "0.9.2" # zeromq

# [features]
# tacotron = ["tensorflow", "image"]
# # torch = ["tch"]
# vocoder = ["world-sys"]
# default = ["tacotron"] # TODO: This is annoying in CLion

#[patch.crates-io]
# NB: Manually upgraded 'tensorflow-sys' library from 1.13.1 to 1.14.0
# The downloaded tensorflow libs in target/ must be moved to /lib 
# (I couldn't figure out the Rust linker flags)
#tensorflow = { path = "/home/bt/dev/3rd/tensorflow.rs-modified" }
#tensorflow = { path = "/home/bt/dev/3rd/tensorflow.rs", features = ["tensorflow_gpu"] }

#[build-dependencies]
#prost-build = "0.5.0"

#chrono
#clap
#log
#time
#toml
#chrono
#clap
#log
#time
#toml
# hound = "3.4.0" # wav encoder/decoder
# image = { version = "0.23.0-preview.0", optional = true }
# sample = "0.10.0" # DSP toolkit
# sonogram = "0.3.0" # badass spectrograms
# tch = { version = "0.1.3", optional = true } # pytorch bindings
# tensorflow = { version = "0.14.0", optional = true }
