[workspace]

members = [
  # Shared libraries
  "crates/lib/config",
  "crates/lib/container_common",
  "crates/lib/http_server_common",
  # Application 
  "crates/service/obs_gateway",
  "crates/service/storyteller_web",
]

