[package]
name = "twitch-gateway"
version = "0.0.0"
edition = "2018"
authors = [ "Brandon Thomas <bt@brand.io>",
    "Brandon Thomas <echelon@gmail.com>" ]

[[bin]]
name = "twitch-gateway"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.38"
serde = "1.0.123"
serde_derive = "1.0.123"
tokio = { version = "0.2", features = ["full"] }
toml = "0.5.8"
twitch_api2 = "0.4.1"
twitch_oauth2 = "0.4.1"
