# Persist clippy check configurations:
# https://github.com/ericseppanen/cargo-cranky 
# Clippy doesn't allow this (yet):
# https://github.com/rust-lang/rust-clippy/issues/6625
deny = [
  # Rust
  "unsafe_code", # We may remove this if needed

  # Clippy "serious" lints
  "clippy::borrow_interior_mutable_const", # Seems dangerous to allow this. Eg. `const F = Lazy::new()`;
  "clippy::cast_possible_truncation", # Seems dangerous, eg f64 to u64.

  # Clippy "aesthetic" lints
  "clippy::clone_double_ref", # Lint: feels safer/hygienic to disallow this, but I'm not strongly opposed.
  "clippy::empty_structs_with_brackets", # Lint: {} feels less aesthetic than ;
  "clippy::redundant_static_lifetimes", # Lint: feels more modern to elide static lifetimes
]

warn = [
]

allow = [
  # Rust
  "missing_docs", # Not everything needs documentation. Too much documentation is bad. Literate code.

  # Clippy
  "clippy::double_comparisons",
  "clippy::if_same_then_else", # I don't think this is valid. There are cases this is clearer.
  "clippy::single_char_pattern", # This is like punishing trailing commas
]

