# Persist clippy check configurations:
# https://github.com/ericseppanen/cargo-cranky 
# Clippy doesn't allow this (yet):
# https://github.com/rust-lang/rust-clippy/issues/6625
deny = [
  # Rust
  "unsafe_code", # We may remove this if needed

  # Clippy "serious" lints
  "clippy::borrow_interior_mutable_const", # Seems dangerous to allow this. Eg. `const F = Lazy::new()`;

  # Clippy "aesthetic" lints
  "clippy::clone_double_ref", # Lint: feels hygienic
  "clippy::redundant_static_lifetimes", # Lint: feels more modern
]

warn = [
  # Clippy
  "clippy::empty_structs_with_brackets",
  "clippy::cast_possible_truncation",
]

allow = [
  # Rust
  "missing_docs", # Not everything needs documentation

  # Clippy
  "clippy::double_comparisons",
  "clippy::if_same_then_else", # I don't think this is valid. There are cases this is clearer.
  "clippy::single_char_pattern", # This is like punishing trailing commas
]

