---
kind: Service
apiVersion: v1
metadata:
  name: tts
  namespace: trumped
spec:
  type: LoadBalancer
  selector:
    app: tts
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 12345
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tts
  namespace: trumped
  labels:
    app: tts
spec:
  # NB: DigitalOcean PersistentVolumes can only be attached to one droplet at a time!? WTF!
  replicas: 1
  selector:
    matchLabels:
      app: tts
  template:
    metadata:
      labels:
        app: tts
    spec:
      imagePullSecrets:
      - name: regcred
      volumes:
        - name: model-pv
          persistentVolumeClaim:
            claimName: model-pvc
      containers:
      - name: tts
        # NB: Container builds are triggered by Github Actions
        image: docker.pkg.github.com/echelon/voder/tts-service:374e1a477d90
        env:
        - name: BIND_ADDRESS
          value: "0.0.0.0:12345"
        - name: TACOTRON_MODEL
          value: "/store/models/tacotron2-nvidia/tacotron_container.pt"
        - name: MELGAN_MODEL
          value: "/store/models/melgan-swpark/shared_melgan_container.pt"
        command: ["/tts_service"]
        ports:
        - containerPort: 12345
          protocol: TCP
        volumeMounts:
          - mountPath: "/store"
            name: model-pv
        readinessProbe:
          httpGet:
            path: /readiness
            port: 12345
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /liveness
            port: 12345
          initialDelaySeconds: 20
          periodSeconds: 3
          timeoutSeconds: 3
          failureThreshold: 3
