---
kind: Service
apiVersion: v1
metadata:
  name: tts
  namespace: trumped
spec:
  type: LoadBalancer
  selector:
    app: tts
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 12345
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tts
  namespace: trumped
  labels:
    app: tts
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tts
  template:
    metadata:
      labels:
        app: tts
    spec:
      imagePullSecrets:
      - name: regcred
      volumes:
        - name: model-pv
          persistentVolumeClaim:
            claimName: model-pvc
      containers:
      - name: tts
        image: docker.pkg.github.com/echelon/voder/tts-service:a8858f2375a4
        command: ["/tts_service"]
        args: ["0.0.0.0:12345"]
        ports:
        - containerPort: 12345
          protocol: TCP
        volumeMounts:
          - mountPath: "/store"
            name: model-pv
