apiVersion: v1
kind: Secret
metadata:
  name: spaces-secrets
  namespace: mumble
type: Opaque
data:
  # Kubernetes secrets must be base64-encoded:
  # echo -n 'original_string' | base64
  aws_access_key_id: NONE=
  aws_secret_access_key: NONE=
