@import "scss/_breakpoint.scss";
@import "scss/breakpoints.scss";
@import "scss/colours.scss";

.media-page-container {
  @include breakpoint($under992) {
    display: flex;
    flex-direction: column;
  }
  .video-page-main-content {
    width: 75%;

    &.video-page-theater-mode {
      width: 100%;
    }

    header {
      display: flex;
      margin: 1rem 0;
      justify-content: space-between;

      .video-page-header-button {
        height: 3rem;

        display: inline;
      }

      .video-page-file-tools {
        display: flex;
        gap: 0.5rem;
      }
    }

    @include breakpoint($under992) {
      width: 100%;
    }

    .video-page-title {
      line-height: 1;
      span {
        opacity: 0.66;
        font-size: 0.75rem;
      }
    }

    .fy-title-editor {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .fy-input {
        margin-bottom: 0;
      }

      button {
        width: 3rem;
        display: inline-flex;
        justify-content: center;
      }

      &.title-editor-spinner {
        position: absolute;
        height: 3rem;
      }
    }

    h2 {
      margin: 0 auto;
      font-size: 1.75rem;
      line-height: 1;
    }

    .video-page-media-content {
      border-radius: 0.5rem;
      flex-grow: 1;

      video {
        background-color: saturate(darken($panel, 10%), 10%);
        max-height: 75vh;
      }
    }

    .video-page-media-details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .media-share-label {
        font-size: 0.825rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
      }

      .video-page-creator {
        display: flex;
        align-items: center;

        .video-page-creator-avatar {
          border-radius: 50%;
          margin-right: 0.5rem;

          transition: 0.75s filter ease-in-out;
          &:hover {
            transition: 0.25s filter ease-in-out;
            filter: drop-shadow(0 0 6px $secondary-light) brightness(1.15);
          }
        }

        .video-page-creator-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3 {
            transition: 0.25s color ease-in-out;
            &:hover {
              color: lighten($primary, 8%);
            }
          }
        }
        h3 {
          color: $primary;
          font-size: 1rem;
          margin: 0;
        }
        span {
          font-size: 0.75rem;
          line-height: 1;
          opacity: 0.6;
        }
      }

      // @include breakpoint($under1280) { // replace when related videos returns
      @include breakpoint($under992) {
        .video-page-actions-container {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          flex-wrap: wrap;
          margin-top: 1rem;
        }
        .media-share-label {
          width: 100%;
          text-align: right;
        }
      }

      .video-page-share-links {
        display: flex;
        gap: 0.5rem;

        .social-button {
          svg {
            height: 1.5rem !important;
          }
        }

        .social-button-icon-no-style {
          background-color: red;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          height: 2.25rem;
          width: 2.25rem;

          @include social-colors;
        }

        .like-button,
        .favorite-button {
          line-height: 1;
          align-items: center;
          max-height: 2.25rem;
          margin: 0 0.5rem 0 0;
          height: 2.25rem;

          .favorite-text {
            display: flex;
            align-items: center;
          }
          // width: 2.25rem;
        }
      }
    }
    .video-page-comments {
      padding: 1rem;
      margin-top: 1rem;
    }
  }

  .video-page-related-videos {
    padding: 0 1rem;
    flex-grow: 1;
    gap: 1rem;

    @include breakpoint($under992) {
      margin-top: 1rem;
      padding: 0;
    }

    .video-page-related-item {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .video-page-related-details {
      width: 40%;

      h6 {
        font-size: 0.75rem;
      }
    }

    .video-page-related-cover-image {
      background-color: purple;
      border-radius: 0.5rem;
      width: 60%;
      aspect-ratio: 16/9;
    }
  }
}
