.alert {
  border-radius: 0.5rem !important;
  font-weight: 400;
  font-size: 14px;
  padding: 0.75rem 0.75rem !important;

  &.alert-dismissible {
    padding-right: 2rem !important;
  }

  .btn-close {
    padding: 1rem 1rem !important;
    transition: 0.2s;
    font-size: 11px;
  }
}

.alert-new {
  background-color: #fff3d0;
  color: #833c00;
  border-color: #833c00;
}
