@import "scss/colours.scss";

.faq-section {
  background-color: rgba($secondary, 0.8);
  border-radius: 12px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border: 3px solid rgba($secondary, 0.8);

  .faq-item {
    h3 {
      color: lighten($primary, 5%);
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      color: rgba($white, 0.8);
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

@media (max-width: 768px) {
  .faq-section {
    padding: 20px;
    padding-top: 2.5rem;
    border-radius: 0px;

    .faq-item {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
