@import "scss/colours.scss";

.fy-style-selection-button {
  display: flex;
  flex-direction: column;

  .button {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 0.5rem;
    border: 2px solid #868698;
    background-color: #53536a;
    padding: 8px 12px 8px 8px;
    text-align: left;
    transition: all 0.2s;

    &:hover {
      border-color: $primary;
      background-color: rgba(#53536a, 0.8);
    }

    .image-container {
      aspect-ratio: 16 / 9;
      height: 48px;
      overflow: hidden;
      border-radius: 0.4rem;
      background-image: url("../../../../../../public/images/placeholders/style_placeholder.png");
      background-position: center;
      background-size: cover;

      &.two-images {
        height: 40px;
      }

      &.three-images {
        height: 32px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.style-options-list {
  max-height: 65vh;

  @media (max-width: 992px) {
    max-height: 100vh;
  }
}

.style-option {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.05);
  transition: border-color 0.2s;
  background-image: url("../../../../../../public/images/placeholders/style_placeholder.png");
  aspect-ratio: 16 / 9;
  background-position: center;

  &.selected {
    border-color: $primary;
    text-shadow: 0 2px 24px rgba($black, 1);

    &:hover {
      border-color: $primary;
    }
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.2);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.style-title {
  position: absolute;
  margin-bottom: 0;
  margin-left: 8px;
  margin-bottom: 8px;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 500;
}

.style-gradient {
  position: absolute;
  user-select: none;
  left: 0;
  bottom: 0;
  height: 40%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  &.selected {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(80, 36, 36) 100%
    );
  }
}

.selected-style {
  position: absolute;
  right: 6px;
  top: 6px;
  height: 22px;
  width: 22px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
