@import "scss/colours.scss";

.checkable-tag {
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 13px;
  padding: 6px 12px;
  background-color: $secondary;
  color: $white;
  cursor: pointer;
  transition: 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid $secondary;

  &.checked {
    background-color: lighten($secondary, 10%) !important;
    color: $white;
    border: 2px solid $primary !important;
  }

  .remove-icon {
    align-items: center;
    font-size: 14px;
    transition: 0.2s;
  }

  &:hover {
    background-color: lighten($secondary, 5%);
    border: 2px solid lighten($secondary, 5%);
  }

  &:hover > .remove-icon {
    color: $primary;
  }
}
