@import-normalize; /* bring in normalize.css styles */

$light-text-color: #777;
$button-text-color: #666;

$body-font-family: "Fira Sans", sans-serif;
$nav-font-family: "Fira Sans", sans-serif;
$footer-font-family: "Fira Sans", sans-serif;
$textarea-font-family: "Fira Sans", sans-serif;
$headings-font-family: "Fira Sans", sans-serif;

body {
  margin: 0 auto;
  font-family: $body-font-family;
}

p {
  font-family: $body-font-family;
  font-size: 18px;
  color: rgba(#000, 0.75);
  a:link,
  a:visited {
    color: #c75;
    font-weight: bold;
  }
  line-height: 1.3;
}

h1 {
  font-weight: 700;
}
h2 {
  color: #000;
}

button {
  background-color: #e5e5e5;
  border: 0;
  color: $button-text-color;
  font-size: 1.2em;
  min-width: 150px;
  padding: 0.75em;
  padding: 10px;
  font-weight: 600;

  &:hover {
    background-color: darken(#e5e5e5, 5%);
  }
}

#main {
  position: relative; // Footer attachment.
  min-height: 100vh;
}

$footer-height: 6rem;

#viewable {
  padding-bottom: $footer-height;
}

.container {
  max-width: 960px;
}

footer {
  font-family: $footer-font-family;
  text-align: center;
  bottom: 0;
  // NB: Setting explicit height doesn't appear to be necessary, and
  // it was creating an annoying scrollbar.
  //height: $footer-height;
  color: $light-text-color;
  margin-top: 3rem;
}

nav {
  font-family: $nav-font-family;
  text-align: justify;
  font-weight: 400;
  a,
  a:link {
    text-decoration: none;
    color: $light-text-color;
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
  }
  a:hover,
  a:active {
    background-color: rgba(#c75, 0.2);
  }
}

.form-container {
  width: 100%;
  max-width: 600px;
}

form {
  textarea {
    font-family: $textarea-font-family;
    border: 1px solid #999;
    box-sizing: border-box;
    font-size: 18px;
    resize: vertical;
    margin: 0;
    padding: 0.75rem;
  }

  button {
    display: block;
  }
}

#status {
  .info {
    color: #888888;
  }
  .warn {
    color: #aaaa00;
  }
  .error {
    color: #aa0000;
  }
  min-height: 1.5em;
}

#usage,
#updates,
#help-wanted,
#terms {
  h1,
  h2 {
    font-family: $headings-font-family;
  }

  h1 {
    margin-bottom: 2.2rem;
    text-decoration: underline;
  }
  li {
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 1em;
  }
}

#animation {
  width: 100%;
  max-width: 750px;
}

/** RESPONSIVENESS **/
