@import "scss/colours.scss";
@import "scss/site-refresh.scss";

@mixin video-tint {
  background-color: rgba($secondary-very-dark, 0.5);
  backdrop-filter: blur(5px);
}

.fy-slide-frame {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fy-entity-input {
  @include panel;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  // background-color: $panel;

  .fy-entity-input-crop-container-hidden {
    cursor: default;
    background-color: rgba($secondary-very-dark, 0.75);

    .fy-entity-input-crop-area {
      color: rgba(#f00, 0);
    }
  }

  .fy-entity-input-crop-area {
    color: rgba($secondary-very-dark, 0.75);
  }

  .fy-entity-input-crop-media {
    box-shadow:
    // 0 0 0 1px rgba(#000, 0.16),
      0 0 15px rgb(#000, 0.5);
  }

  .fy-entity-input-play-button {
    @include video-tint;
    border: none;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
    width: fit-content;
    // background-color: red;
    position: absolute;
  }

  .fy-entity-input-crop-tip {
    @include video-tint;
    position: absolute;
    background-color: rgba($secondary-very-dark, 0.5);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgba(#fff, 0.5);
    pointer-events: none;
  }
}

.fy-entity-input-square {
  aspect-ratio: 1/1;
  height: 300px;

  .fy-entity-input-empty-controls {
  }
}

.fy-entity-input-landscape {
  width: 100%;
  aspect-ratio: 4/3;
  max-height: 66vh;
}

.fy-entity-input-empty,
.fy-entity-input-full {
  // background-color: red;
  position: relative;
  // overflow: hidden;
  justify-content: center;

  .fy-entity-input-icon {
    position: absolute;
    height: 80%;
    opacity: 75%;
    // background-color: blue;
    margin: auto;
    inset: 0;

    path {
      fill: $panel-inner-border;
    }
  }

  .fy-entity-input-file-details {
    padding: 0 0.5rem;
    // background-color: red;
    // display: inline-flex;
    div {
      font-size: 0.75rem;
    }
  }
}

.fy-entity-input-label-icon {
  margin-right: 12px;
  height: 28px;
}

.fy-entity-input-mocap-preview {
  position: absolute;
  border-radius: 0.5rem;
  border: 1px solid rgba(#fff, 0.2);
  display: block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  margin: 0;
}

.fy-entity-input-full {
  display: grid;
  grid-template-columns: 1fr fit-content(50%);
  // grid-template-rows: 1fr 1fr;
  // display: flex;

  // video {
  //   width: 100%;
  // }
}

.fy-entity-input-media-preview {
  // display: inline-block;
  position: relative;
  // width: 66%;
  // height: 100%;
  // width: 100%;
  // aspect-ratio: 1;
  padding: 0.5rem;
}

.fy-entity-input-preview-controls {
  display: grid;
  // background-color: red;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  padding: 1rem;
}

.fy-entity-input-preview-tools {
  display: grid;
  grid-template-columns: auto 1fr;
  // grid-template-rows: 1fr auto;
  gap: 0.5rem;
  // display: inline-block;
  // width: 33%;
  // height: 100%;
  background-color: $secondary-dark;

  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // position: absolute;
  // background-color: red;
  // background-color: rgba(#000, 0.5);
  // background: linear-gradient(
  //   0deg,
  //   rgba(0, 0, 0, 0) 0%,
  //   rgba(0, 0, 0, 0.1) 6.25%,
  //   rgba(0, 0, 0, 0.25) 12.5%,
  //   rgba(0, 0, 0, 0.4) 18.75%,
  //   rgba(0, 0, 0, 0.5) 25%
  // );
  // padding: 1rem;
  // backdrop-filter: blur(2px);
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  // width: 100%;

  .fy-zoom-slider {
    padding: 0.5rem 0;
  }
}

.fy-entity-input-empty-controls {
  // background-color: red;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;

  .fy-entity-input-row {
    height: 100%;
  }

  .fy-entity-input-button {
    background-color: rgba(#000, 0.15);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.25s all ease-in-out;
    color: rgba(#fff, 0.66);

    &:hover {
      background-color: rgba(#000, 0.1);
      color: rgba(#fff, 1);
    }

    label {
    }
  }

  .fy-entity-input-upload-detail {
    span {
      opacity: 0.66;
      display: block;
      font-size: 0.75rem;
      line-height: 1em;
      height: 0.75rem;
    }
  }
}

.fy-zoom-slider {
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 1rem 0;

  svg {
    color: rgba(#fff, 0.25);
  }
}

.fy-zoom-slider-container {
  height: 100%;
  // background-color: red;
  margin: 1.5rem 0;
  // width: 3rem;
}

.fy-zoom-slider-track {
  display: inline-flex;
  justify-content: center;
  height: 100%;
  width: 2.25rem;
  // background-color: green;

  .fy-zoom-slider-track-bar {
    background-color: $secondary-darker;
    border-radius: 0.25rem;
    // margin: 1rem 0;
    // flex-shrink: 1;
    box-shadow:
      // inset 0 0 1px 1px rgba(#000, 0.16),
      inset 0 5px 10px rgb(#000, 0.25);
    border-bottom: 1px solid rgba(#fff, 0.07);
    // border-left: none;
    // border-right: none;
    width: 0.5rem;
    height: 100%;
  }
}

.fy-zoom-slider-thumb {
  color: rgba(#fff, 0.6);
  border: 1px solid rgba(#fff, 0.04);
  border-left: none;
  border-right: none;
  box-shadow:
    // 0 0 0 1px rgba(#000, 0.16),
    0 5px 10px rgb(#000, 0.25);
  // @include panel;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background-color: $secondary;
  border-radius: 0.75rem;
  height: 2.25rem;
  width: 2.25rem;

  &:focus-visible {
    // color: $secondary;
    background-color: $secondary-light;
    outline: none;
  }
}
