@import "scss/colours.scss";
@import "scss/site-refresh.scss";

.fy-slide-frame {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fy-entity-input {
  @include panel;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  // background-color: $panel;
}

.fy-entity-input-square {
  aspect-ratio: 1/1;
  height: 300px;

  .fy-entity-input-empty-controls {
  }
}

.fy-entity-input-landscape {
  width: 100%;
  aspect-ratio: 4/3;
  max-height: 66vh;
}

.fy-entity-input-empty,
.fy-entity-input-full {
  // position: relative;
  // overflow: hidden;
  justify-content: center;

  .fy-entity-input-icon {
    position: absolute;
    height: 80%;
    opacity: 75%;
    // background-color: blue;
    margin: auto;
    inset: 0;

    path {
      fill: $panel-inner-border;
    }
  }

  .fy-entity-input-file-details {
    div {
      font-size: 0.75rem;
    }
  }
}

.fy-entity-input-label-icon {
  margin-right: 12px;
  height: 28px;
}

.fy-entity-input-mocap-preview {
  position: absolute;
  border-radius: 0.5rem;
  border: 1px solid rgba(#fff, 0.2);
  display: block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  margin: 0;
}

.fy-entity-input-full {
  display: flex;

  video {
    width: 100%;
  }
}

.fy-entity-input-full-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  // background-color: red;
  background-color: rgba(#000, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 6.25%,
    rgba(0, 0, 0, 0.25) 12.5%,
    rgba(0, 0, 0, 0.4) 18.75%,
    rgba(0, 0, 0, 0.5) 25%
  );
  padding: 1rem;
  // backdrop-filter: blur(2px);
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.fy-entity-input-empty-controls {
  // background-color: red;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;

  .fy-entity-input-row {
    height: 100%;
  }

  .fy-entity-input-button {
    background-color: rgba(#000, 0.15);
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.25s all ease-in-out;
    color: rgba(#fff, 0.66);

    &:hover {
      background-color: rgba(#000, 0.1);
      color: rgba(#fff, 1);
    }

    label {
    }
  }

  .fy-entity-input-upload-detail {
    span {
      opacity: 0.66;
      display: block;
      font-size: 0.75rem;
      line-height: 1em;
      height: 0.75rem;
    }
  }
}
