#numpy
scipy
matplotlib
librosa==0.6.0
#tensorflow
#tensorboardX
inflect==0.2.5
Unidecode==1.0.22
pillow
jupyter

# Note: numpy@latest doesn't build in Python<3.7, and numba causes it
numba==0.46.0
numpy==1.14.3


#torch==1.8.1
#tensorboardX==1.1
#tensorflow==1.13.1
#tensorflow-estimator==1.13.0

# Fix for
# TypeError: create_target_machine() got an unexpected keyword argument 'jitdebug'
llvmlite==0.32.1

tensorboardX==1.15
