@import "scss/colours.scss";

.favorite-button {
  display: flex;
  align-items: center;
  background-color: lighten($secondary, 3%);
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 16px;
  transition: 0.2s;
  padding: 3px 8px;
  border-radius: 0.5rem;

  &:hover {
    background: lighten($secondary, 10%);
  }

  &:hover .favorite-number {
    opacity: 1;
  }

  &:hover .icon-default {
    color: $primary;
    opacity: 1;
  }

  &.toggled {
    background-color: rgba($primary, 0.25);

    &:hover {
      background-color: darken(rgba($primary, 0.25), 5%);
    }
  }
}

.favorite-button .icon-default {
  color: $white;
  opacity: 0.7;
  transition: 0.2s;
}

.favorite-button .icon-toggled {
  color: $primary;
  animation: pulse 0.3s ease;
}

.favorite-button .icon-toggled:hover {
  color: $primary;
}

.favorite-number {
  font-size: 14px;
  font-weight: 400 !important;
  opacity: 0.8;
  transition: 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
