@import "scss/colours.scss";

.fy-checkbox-frame {
  margin-bottom: .5rem;
  white-space: nowrap;

  label {
    margin-left: .5rem;
  }
}

.fy-checkbox {
  background-color: $primary;
  border-radius: .5rem;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  stroke: white;
}