@import "scss/colours.scss";

.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(lighten($secondary, 5%), 0.9);
  color: rgba($white, 0.7);
  border: none;
  padding: 0;
  font: inherit;
  font-size: 14px !important;
  cursor: pointer;
  outline: inherit;
  transition: 0.2s;
  padding: 3px 8px;
  min-width: 52px;
  max-height: 27px;
  border-radius: 0.5rem;
  overflow: hidden !important;

  &.shadow {
    box-shadow: 0 0 12px rgba($bg, 0.4) !important;

    &:hover {
      box-shadow: 0 0 12px rgba($bg, 0.4) !important;
    }
  }

  &:hover {
    background: rgba(lighten($secondary, 10%), 0.9);
  }

  &:hover .like-number {
    opacity: 1;
  }

  &:hover .icon-default {
    color: $primary;
    opacity: 1;
  }

  &.toggled {
    background-color: rgba(#593a48, 0.9);

    &:hover {
      background-color: lighten(rgba(#593a48, 0.9), 10%);
    }
  }

  &.large {
    padding: 6px 10px;
    max-height: 33px;
  }
}

.like-button .icon-default {
  color: $primary;
  opacity: 0.7;
  transition: 0.2s;
}

.like-button .icon-toggled {
  color: $primary;
  animation: pulse 0.3s ease;
}

.like-button .icon-toggled:hover {
  color: $primary;
}

.like-number {
  color: $white;
  font-size: 14px;
  font-weight: 400 !important;
  opacity: 0.9;
  transition: 0.2s;
}

.like-number-wrapper {
  position: relative;
  display: flex;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
