.typeformcontainer {
  height: 50vh; // 50% of the viewport height

  @media (min-width: 768px) { // Tablets and above
    height: 60vh;
  }

  @media (min-width: 1024px) { // Desktops and above
    height: 400px; // Fixed height for large screens
  }
}