.studio-intro-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 66px);

  .studio-intro-exporter {
    background: rgba(#000, .5);
    backdrop-filter: blur(10px);
    border-radius: .5rem;
    right: 1rem;
    bottom: 1rem;
    padding: .5rem;
    position: absolute;


    .exporter-title {
      width: 100%;

      span {
        opacity: .66;
        font-size: .875rem;
        height: 1em;
        line-height: 1em;
        display: block;
        margin-bottom: .25rem;
      }
    }
    .exporter-controls {
      display: flex;
      gap: .5rem;
    }
  }
}

.result-video-wrapper {
  max-width: 1100px;
}
