@import "scss/colours.scss";

.fy-image-uploader {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100%;
	width: 100%;

	.file-preview {
		height: 100%;
		width: 100%;
		border-radius: .5rem;
		object-fit: cover;
	}
	.image-upload-label, .upload-details {
		background-color: rgba($panel, .85);
		position: absolute;
	}
	.image-upload-label {
		border-radius: .5rem .5rem 0 0;
		display: flex;
		width: 100%;
		top: 0;
		padding: 1rem;
	}

	.upload-details {
		top: 1rem;
		left: 1rem;
		width: calc(100% - 2rem);
	}

	.image-placeholder {
		// background-color: red;
		fill: $secondary;
	}
}