@import "scss/colours.scss";
@import "scss/site-refresh.scss";


.fy-slide-frame {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fy-mocap-input {
  @include panel;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  // background-color: $panel;
}

.fy-media-input-square {
  aspect-ratio: 1/1;
  height: 300px;

  .fy-media-picker-empty-controls {}
}

.fy-media-input-landscape {
  width: 100%;
  aspect-ratio: 4/3;
  max-height: 66vh;
}

.fy-media-picker-empty, .fy-media-picker-full {
  // position: relative;
  // overflow: hidden;

  .fy-media-picker-icon {
    position: absolute;
    height: 80%;
    opacity: 75%;
    // background-color: blue;
    margin: auto;
    inset: 0;

    path { fill: $panel-inner-border}
  }

}

.fy-media-picker-label-icon {
  margin-right: .5rem;
  height: 1.25rem;
}

.fy-media-picker-mocap-preview {
  position: absolute;
  border-radius: .5rem;
  border: 1px solid rgba(#fff,.2);
  display: block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  margin: 0;
}

.fy-media-picker-full-controls {
  position: absolute;
  background-color: rgba(#000, .5);
  padding: 1rem;
  // backdrop-filter: blur(2px);
  overflow: hidden;
  border-radius: .5rem .5rem 0 0;
  width: 100%;
}

.fy-media-picker-empty-controls {
  // background-color: red;
    position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;

  .fy-media-picker-row {

    height: 100%;
  }

  .fy-media-picker-button {
    background-color: rgba(#000,.15);
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: .25s all ease-in-out;
    color: rgba(#fff, .66);

    &:hover {
      background-color: rgba(#000,.1);
      color: rgba(#fff, 1);
    }

    label { }
  }
}