@import "scss/colours.scss";

.countdown-container {
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: 768px) {
    padding: 20px 0px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .description {
    font-size: 20px;
    color: rgba($white, 0.6);
    margin-bottom: 32px;
    text-align: center;
    font-weight: 500;
  }

  .countdown-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: $secondary;
    border-radius: 8px;
    padding: 24px 10px;
    border: 3px solid $primary;
    user-select: none;
    pointer-events: none;

    .countdown-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .countdown-value {
        font-size: 46px;
        font-weight: bold;
        margin-top: -10px;
      }

      .countdown-label {
        font-size: 16px;
        color: rgba($white, 0.6);
      }
    }
  }

  .icon {
    height: 46px;
    width: 46px;
    padding: 20px;
    background-color: $secondary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 3px solid rgba($white, 0.1);
  }
}

.faq-section {
  background-color: rgba($secondary, 0.8);
  border-radius: 12px;
  padding: 3rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 1100px !important;

  h2 {
    color: $white;
    text-align: center;
    margin-bottom: 36px;
    font-weight: bold;
  }

  .faq-item {
    margin-bottom: 30px;

    h3 {
      color: $primary;
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      color: rgba($white, 0.8);
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

@media (max-width: 768px) {
  .faq-section {
    padding: 20px;
    padding-top: 2.5rem;
    border-radius: 0px;

    .faq-item {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
