@import "scss/colours.scss";

.swiper {
  width: 100%;
  height: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.swiper-slide {
  background-size: contain;
  background-position: center;
}

.secondSwiper {
  width: 100%;
}

.landscape {
  height: 100%;
}

.portrait {
  height: 70vh;
}

// .secondSwiper .swiper-slide {
//   height: 100%;
// }

.firstSwiper {
  height: 20%;
  box-sizing: border-box;
}

.firstSwiper .swiper-slide {
  transition: 0.2s;
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.firstSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  background-color: $panel;
}

.swiper-button-prev,
.swiper-button-next {
  color: $white;
  opacity: 0.5;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .portrait {
    height: 550px;
  }
}

@media screen and (max-width: 500px) {
  .portrait {
    height: 400px;
  }
}
