@import "scss/colours.scss";

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.secondSwiper {
  height: 100%;
  width: 100%;
}

.secondSwiper .swiper-slide {
  height: 100%;
}

.firstSwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.firstSwiper .swiper-slide {
  transition: 0.2s;
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.firstSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: $white;
  opacity: 0.5;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.media-img-container {
  min-height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 0.5rem;
    border: 1px solid rgba($white, 0.04);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: attr(width) / attr(height);

    &.vertical {
      max-height: 70vh;
    }
  }
}
