@import "scss/colours.scss";

.list-items {
  background-color: lighten($panel, 4%);
  border-radius: 0.5rem;
  border: 1px solid lighten($panel, 8%);

  .dataset-badge {
    font-weight: 600;
    border-radius: 0.35rem;
    font-size: 13px;
    padding: 2px 6px;
    background-color: #f7daed;
    color: #961574;
    transition: 0.2s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    margin-bottom: 10px;
  }

  .model-details {
    color: rgba($white, 0.8);
    font-size: 14px;
  }
}

.fy-vd-badge > * {
  margin-right: .5rem;
}
