@import "scss/colours.scss";
@import "scss/_breakpoint.scss";

//TODO: PUSH TO TOP
.fill-secondary {
	fill: $secondary;
}

//TODO: PUSH TO TOP, given in BS5
.object-fit-cover{
	object-fit: cover;
}
.ratio-1x1 {
	aspect-ratio: 1/1;
}
//-end--//

.upload-details {
	background-color: rgba($panel, .85);
}