@import "scss/colours.scss";
@import "scss/_breakpoint.scss";

//TODO: PUSH TO TOP
.fill-secondary {
	fill: $secondary;
}

//TODO: PUSH TO TOP, given in BS5
.object-fit-cover{
	object-fit: cover;
}

.video-upload-frame {
	// aspect-ratio: 4/3;
	@include breakpoint(min-width 992px) {
		aspect-ratio: 1/1;
	}
}
.image-upload-label, .upload-details {
	background-color: rgba($panel, .85);
}

.upload-details {
	top: 0;
	width: 100%;
	padding: 1rem;
	border-radius: 0;
}