@import "scss/colours.scss";

.model-search-results {
  background-color: lighten($panel, 6%);
  border-radius: 0.5rem;
  border: 1px solid lighten($panel, 12%);

  .type-tag {
    font-weight: 600;
    border-radius: 0.4rem;
    font-size: 13px;
    padding: 4px 8px;
    background-color: $secondary;
    color: $white;
    cursor: pointer;
    transition: 0.2s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;

    &.tt2 {
      color: #494ea9;
      background-color: #c6c7e1;
    }
  }
}
