@import "scss/colours.scss";

.button {
  border-radius: 0.5rem;
  outline: none;
  font-size: 15px !important;
  font-weight: 500 !important;
  padding: 10px 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white !important;
}

.button-primary,
.button-primary:focus,
.button-primary:active {
  background-color: $primary;
  border: 2.5px solid;
  border-color: $primary;
  transition: 0.2s;
  color: $white !important;
}
.button-primary:hover {
  background-color: lighten($primary, 5%);
  border-color: lighten($primary, 5%);
  color: $white !important;
}

.button-secondary,
.button-secondary:focus,
.button-secondary:active {
  background-color: $secondary;
  color: $white !important;
  border: 2.5px solid;
  border-color: $secondary;
  transition: 0.2s;
}

.button-secondary:hover {
  background-color: lighten($secondary, 5%);
  color: $white !important;
  border: 2.5px solid;
  border-color: lighten($secondary, 5%);
}

.button-destructive,
.button-destructive:focus,
.button-destructive:active {
  background-color: $danger;
  color: $white !important;
  border: 2.5px solid;
  border-color: $danger;
  transition: 0.2s;
}

.button-destructive:hover {
  background-color: lighten($danger, 5%);
  color: $white !important;
  border: 2.5px solid;
  border-color: lighten($danger, 5%);
}

.button-small,
.button-small:focus,
.button-small:active {
  font-weight: 500;
  font-size: 14px !important;
  padding: 8.25px 16px;
  transition: 0.2s;
  border: none;
}

.button-small:hover {
  border: none;
}
