@import "scss/colours.scss";

table {
  font-size: 14px;
  margin-bottom: 0 !important;
}

td {
  padding: 8px 16px !important;
  min-width: 124px !important;
}

.no-outer-border {
  border: none !important;
}

.no-outer-border > thead > tr > th:first-child,
.no-outer-border > tbody > tr > td:first-child {
  border-left: none !important;
}

.no-outer-border > thead > tr > th:last-child,
.no-outer-border > tbody > tr > td:last-child {
  border-right: none !important;
}

.no-outer-border > tbody > tr:last-child > td {
  border-bottom: none !important;
}

.data-table-property {
  font-weight: 500 !important;
  background-color: lighten($panel, 7%) !important;
}

// because overflow hidden is now disabled on open accordians, so drop downs can exist in them, border radius is applied to the tables within

.fy-data-table {
  tr:last-of-type {
    td:first-of-type {
      border-radius: 0 0 0 0.45rem;
    }

    td:last-of-type {
      border-radius: 0 0 0.45rem 0;
    }
  }
}
