librosa==0.7.0
numba==0.48
numpy==1.17.1
opencv-contrib-python==4.2.0.34
python-magic==0.4.22
tensorflow==1.12.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.45.0

# NB(bt, 2021-05-30): After upgrading ubuntu, the old opencv package isn't available
#opencv-python==4.1.0.25
opencv-python==4.1.2.30
