@import "scss/colours.scss";

video::-webkit-media-controls {
  display: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

.storyteller-landing-reel {
  display: flex;
  height: 74vh;
  justify-content: center;
  position: relative;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .reel-overlay {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 27, 0.6);

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 20%;
      background: linear-gradient(transparent, $bg);
      z-index: 1;
    }
  }

  .storyteller-landing-heading {
    font-size: 52px;
  }

  .storyteller-landing-sub-text {
    max-width: 900px;
    font-size: 18px;
  }

  @media screen and (max-width: 992px) {
    .storyteller-landing-heading {
      font-size: 44px;
    }

    .storyteller-landing-sub-text {
      max-width: 100%;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    .storyteller-landing-heading {
      font-size: 32px;
    }

    .storyteller-landing-sub-text {
      font-size: 16px;
    }
  }
}
