@import "scss/colours.scss";

@import "scss/_breakpoint.scss";
@import "scss/breakpoints.scss";

.fy-ai-face-mirror-panel {
	// overflow: hidden;
}

.fy-ai-face-mirror-header {
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 250px;
	margin-bottom: 1rem;
	background: #f8f4f3;
	border-radius: 0.5rem 0.5rem 0 0;

	video {
		margin: auto;
		position: relative;
		height: 100%;
		max-width: 75rem;
		width: 100%;
		object-fit: cover;
	}
}

.fy-ai-face-mirror-header-content {
	// background: red;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background: linear-gradient(
		0deg,
		rgba($panel, 0.95) 0%,
		rgba(#191933, 0.75) 15%,
		rgba(#191933, 0) 90%
	);

	button {
		height: 3rem;
	}

	h1 {
		margin-bottom: 0;
		font-size: 2.25rem;
	}
	p {
		max-width: 33vw;
	}
}

.fy-ai-face-mirror-main-inputs {
	display: inline-grid;
	width: 100%;
	gap: 1rem;
	grid-template-columns: auto auto;
	// margin-bottom: 1rem;
	height: fit-content;
	padding: 1rem;

	.fy-ai-face-mirror-column {
		// width: 33%;
		display: inline-block;

		.fy-entity-input {
			width: 100%;
		}
	}

	@include breakpoint($under992) {
		display: block;

		.fy-ai-face-mirror-column {
			width: 100%;
		}
	}
}

.fy-ai-face-mirror-secondary-inputs {
	display: flex;
	// align-items: center;
	// justify-content: space-between;
	padding: 0 1rem 1rem;

	legend {
		color: #b6b6bb;
		font-size: 0.75rem;
	}

	.fy-premium-lock {
		height: 150px;
	}

	.input-block:nth-child(2) {
		margin-left: 1rem;
		margin-right: auto;
	}

	button {
		margin: auto 0 0;
		width: 25%;
	}

	.fy-ai-face-mirror-premium-label {
		margin-bottom: 0.5rem;
		a {
			margin-left: 0.25em;
		}
	}
}
