.cover-image-page {
  header {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
  }
  h1 {
    display: inline;
  }

  .cover-image-panel {
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;

    .cover-image-current {
      border-radius: .5rem;
      overflow: hidden;
      width: 100%;
      margin: .5rem 0;
    }

    .fy-entity-input-square {
      height: auto;
    }
  }

  .cover-image-empty {
    background-color: rgba(#000,.33);
    border-radius: .5rem;
    color: rgba(#fff, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    aspect-ratio: 4/3;
  }
}