@import "scss/colours.scss";

.vst-section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  video::-webkit-media-controls {
    display: none;
  }

  video::-webkit-media-controls-start-playback-button {
    display: none;
  }
}

.vst-carousel-panel {
  background-color: $panel;
  overflow: hidden;
  border: lighten($panel, 8%) solid 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vst-styled-videos-panel {
  width: 100%;
  height: 100%;
  background-color: $panel;
  overflow: hidden;
  border: lighten($panel, 8%) solid 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  > div {
    border-left: lighten($panel, 8%) solid 2px;
    border-top: lighten($panel, 8%) solid 2px;
    box-sizing: border-box;
  }

  > div:nth-child(-n + 2) {
    border-top: none;
  }

  > div:nth-child(2n + 1) {
    border-left: none;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vst-styled-videos-panel-overlay-text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  color: white;
  padding: 0.5rem;
  display: flex;
  height: auto;
}

.vst-styled-videos-panel-overlay-cta {
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  color: $primary;
  padding: 0.5rem;
  display: flex;
  height: auto;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;

  .fy-badge {
    background-color: rgba(
      darken(desaturate($primary, 25%), 10%),
      40%
    ) !important;
    border: 2px solid rgba($primary, 60%) !important;
    font-size: 12px;
    padding: 0.12rem 0.36rem;

    &:hover {
      background-color: darken(desaturate($primary, 25%), 10%) !important;
      border-color: darken(desaturate($primary, 25%), 10%) !important;
    }
  }
}

.swiper {
  width: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  &.vst-swiper-main {
    height: auto !important;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &.vst-swiper-thumbs {
    height: auto !important;

    .swiper-slide {
      opacity: 0.4;
      cursor: pointer;
      transition: 0.2s;

      .vst-carousel-panel {
        border: lighten($panel, 15%) solid 2px;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1 !important;

      .vst-carousel-panel {
        border: $primary solid 2px;
      }
    }
  }
}

.swiper-slide {
  background-size: contain;
  background-position: center;
}

.vst-swiper-main-overlay-text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  color: white;
  padding: 0.75rem;
}

@media (max-width: 992px) {
  .vst-styled-videos-panel-overlay-cta {
    padding: 0.25rem;

    .fy-badge {
      border-radius: 0.3rem;
      border: 1px solid rgba($primary, 60%) !important;
      font-size: 9px;
    }
  }

  .vst-styled-videos-panel-overlay-text {
    .fy-badge {
      font-size: 11px;
    }
  }

  .vst-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
