@import "scss/colours.scss";

.selection-bubbles {
  display: flex;
  gap: 0.5rem;
}

.bubble-button {
  border: 2px solid darken($secondary, 3%);
  padding: 8px 16px;
  border-radius: 0.5rem;
  background-color: darken($secondary, 3%);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  font-size: 15px;
  font-weight: 500;
  color: rgba($white, 0.75);
}

.bubble-button:hover {
  background-color: $secondary;
  border-color: $secondary;
}

.bubble-button.selected {
  color: $white;
  border-color: $primary;
  background-color: lighten($secondary, 6%);
}
