.featured-video-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1.75rem;
  padding-bottom: 1rem;
}

.featured-video-scroll-container::-webkit-scrollbar {
  display: none;
}

.featured-video-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.featured-video-scroll-container > div {
  flex: 0 0 auto;
  width: 84%;
}

@media (min-width: 768px) {
  .featured-video-scroll-container > div {
    width: calc((100% / 3) - (1.75rem * 2 / 3));
  }
}
