@import "scss/colours.scss";

.fy-premium-lock {
  position: relative;
  background-color: $panel-inner;
  pointer-events: none;
  overflow: hidden;
  box-shadow: none !important;

  .overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($panel, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($white, 0.8);
    font-size: 16px;
    pointer-events: all;
    border: 1px solid rgba($primary, 0.4);
    border-radius: 0.5rem;

    span {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }
}
