@import "scss/colours.scss";

.fy-weight-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0.75rem;
}

.fy-weight-tag {
  background-color: lighten($action, 10%);
  border-radius: 5px;
  padding: 2px 9px;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 8px;
  font-weight: 500;
  color: rgba($white, 0.8);
}
