.video-background-image {
  background-image: url("/resources/images/forest-trees.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(1);
}
