@import "scss/colours.scss";

.fy-premium-lock {
  position: relative;
  background-color: $panel-inner;
  pointer-events: none;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1rem;

  .overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($panel-inner, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($white, 0.9);
    font-size: 15px;
    font-weight: 500;
    pointer-events: all;
    border: 2px solid rgba($primary, 0.4);
    border-radius: 0.5rem;
    padding-left: 1rem;
  }
}
