.fy-engine-compositor {
  .engine-compositor-container {
    header {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    h2,
    .fy-temp-select,
    .fy-input {
      margin-bottom: 0;
    }
  }
  .compositor-content {
    display: flex;

    > * {
      width: 100%;
    }
  }
}
