.fy-engine-compositor {
  padding: 1rem;

  .engine-compositor-container {
    padding: 1rem;

    header {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    h2, .fy-temp-select, .fy-input { margin-bottom: 0; }
  }
  .compositor-content {
    display: flex;
    gap: 1rem;

    > * { width: 100%; }
  }
}