@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-ui-background text-white;
  }
  html {
    @apply font-sans;
  }
  h1 {
    @apply text-3xl font-medium md:text-5xl;
  }
  h2 {
    @apply text-2xl font-medium md:text-4xl;
  }
  h3 {
    @apply text-xl font-medium md:text-3xl;
  }
  h4 {
    @apply text-lg font-medium;
  }
  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }
  p {
    @apply text-sm font-light;
  }
  a {
    @apply font-light text-primary-500 hover:text-primary-300;
  }
  a:visited {
    @apply text-primary-700 hover:text-primary-500;
  }

  input {
    @apply border-0 px-2 py-1 outline-none -outline-offset-2 focus:outline-primary-500 focus:ring-0;
  }
}
