.fy-select {
  margin-bottom: 1rem !important;

  &:only-child,
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.d-flex:not(.flex-column) > .fy-select {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;

  &:only-child,
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.gap-1 > .fy-select,
.gap-2 > .fy-select,
.gap-3 > .fy-select,
.gap-4 > .fy-select,
.gap-5 > .fy-select {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
