@import "scss/colours.scss";

.ls-remove-audio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: $action;
  border: 2.5px solid;
  border-color: $action;
  transition: 0.2s;
  color: $white !important;
  &:hover {
    background-color: lighten($action, 5%);
    border-color: lighten($action, 5%);
    color: $white !important;
  }
  border-radius: 0.5rem;
}

.ls-section-between {
  padding-top: 16%;

  @media (max-width: 992px) {
    padding-top: 0;
  }
}

.ls-voice-picker-preview {
  color: $white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba($action, 0.8);
  border: 2px solid lighten($action, 12%);
  display: flex;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;

  .cover-img {
    margin-right: 16px;
  }

  .fy-weight-picker-preview-text {
    font-size: 20px !important;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 16px !important;
    }
  }

  &:hover {
    background-color: rgba($action, 1);
    border: 2px solid $primary;
  }
}

.ls-jobs-list {
  background-color: lighten($panel, 5%);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 12px;
  border: 2px solid transparent;

  &:hover {
    background-color: lighten($panel, 10%);
    border: 2px solid lighten($panel, 15%);
  }

  img {
    border: lighten($panel, 15%) solid 2px;
    background-color: rgba($white, 0.06);
  }

  &.no-hover {
    background-color: lighten($panel, 3%) !important;

    &:hover {
      cursor: default;
      background-color: lighten($panel, 3%) !important;
      border: 2px solid lighten($panel, 3%) !important;
    }
  }
}
