@import "scss/colours.scss";

.sd-cover-img-container {
  min-height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 0.5rem;
    border: 1px solid rgba($white, 0.04);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: attr(width) / attr(height);

    &.vertical {
      max-height: 70vh;
    }
  }
}

@media (max-width: 992px) {
  .sd-cover-img-container {
    height: 100%;

    img {
      max-height: 100% !important;
    }
  }
}
