// Old design parents all elements with class "fakeyou-old"
// Refresh design parents all elements with class "fakeyou-refresh"
//
// The reason for this is that WebPack imports and packs all SCSS files, which 
// makes it impossible to dynamically change styles.
//
// Once the rollout is complete, this outer wrapper class can be removed.
.fakeyou-old {
  .v2_social {
    img {
      max-width: 50px;
      max-height: 50px;
      padding: 0 0.7em 0.7em;
    }
    text-align: center;
  }

  .v2_mod_link {
    text-align: center;
  }
}