@import "scss/colours.scss";

.how-to-use-section {
  background-color: rgba($secondary, 0.8);
  border-radius: 12px;
  padding-bottom: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 3px solid rgba($white, 0.2);

  .how-to-use-icon {
    height: 24px;
    width: 24px;
    padding: 14px;
    background-color: lighten($secondary, 10%);
    color: $white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border: 3px solid lighten($secondary, 20%);

    @media (max-width: 768px) {
      margin-bottom: 16px;
      height: 16px;
      width: 16px;
      padding: 8px;
      border-radius: 8px;
    }
  }

  .how-to-use-item {
    margin-bottom: 30px;

    h3 {
      color: lighten($primary, 6%);
      font-size: 20px;
      margin-bottom: 12px;
      font-weight: bold;
    }

    p {
      color: rgba($white, 0.8);
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

@media (max-width: 768px) {
  .how-to-use-section {
    padding: 20px;
    padding-top: 2.5rem;
    border-radius: 0px;

    .how-to-use-item {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
