@import "scss/colours.scss";

.cover-img {
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid rgba($white, 0.2);
  margin-right: 12px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
