@import "scss/colours.scss";

.countdown-container {
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  @media (max-width: 768px) {
    padding: 20px 0px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .description {
    font-size: 20px;
    color: rgba($white, 0.6);
    margin-bottom: 32px;
    text-align: center;
    font-weight: 500;
  }

  .countdown-icon {
    height: 80px;
    width: 80px;
    font-size: 36px;
    background-color: $secondary;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba($white, 0.2);
  }

  .countdown-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: $secondary;
    border-radius: 8px;
    padding: 24px 10px;
    border: 3px solid $primary;
    user-select: none;
    pointer-events: none;

    .countdown-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .countdown-value {
        font-size: 46px;
        font-weight: bold;
        margin-top: -10px;
      }

      .countdown-label {
        font-size: 16px;
        color: rgba($white, 0.6);
      }
    }
  }
}
