@import "scss/colours.scss";
@import "scss/site-refresh.scss";

$primary-transparent: rgba($primary,.75);

.fy-inference-jobs-list-grid {
  display: grid;
  grid-template-columns: 2.25rem fit-content(100px) minmax(0, 1fr) minmax(min-content, 1fr);
  gap: 1rem 0;

  .work-indicator {
    margin-right: -.5rem; // offset for svg gap
  }

  h6 {
    color: #fff;
    line-height: 1em;
    height: 1.25em;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .fy-inference-job-hover-on, .fy-inference-job-hover-off {
    padding: .5rem;

    // &:first-of-type { }
  }

  .fy-inference-job-success {
    cursor: pointer;

    &.fy-inference-job-hover-on {
      background-color: $panel-inner;
    }
  }

  .fy-inference-job-indicator {
    border-radius: .5rem 0 0 .5rem;
    margin-left: -.5rem;
    padding-right: 0;
   }
  .fy-inference-job-action-frame { border-radius: 0 .5rem .5rem 0 }

  .fy-inference-job-subtitle, .fy-inference-job-subtitle-success, .job-info-label  {
    font-size: .875rem;
    font-weight: 400;
    white-space: nowrap;
    height: 1.125em;
    line-height: 1em;
  }

  .fy-inference-job-subtitle, .job-info-label {
    opacity: .6;
  }

  .fy-inference-job-subtitle, .fy-inference-job-subtitle-success {
    display: block;
  }

  .fy-inference-job-subtitle-success {
    color: $primary-transparent;
  }

  .job-info-label {
    overflow: hidden;
    text-overflow: ellipsis;
    // height: 1.125em;
    // line-height: 1em;
  }

  .job-info-value {
    // background: rgba(#0f0, .1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // height: 1em;
    line-height: 1.25em;
  }

  .fy-inference-job-action-frame {
    margin-right: -.5rem;
    position: relative;
    padding: 0;
    // width: fit-content;
    // background: rgba(#0f0, .1);

    .fy-inference-job-action, .fy-inference-job-action-success {

      @include medium-svg;

      cursor: pointer;
      margin: auto;
      white-space: nowrap;
      // padding-left: .75rem;
      // display: flex;
      // align-items: center;
      border-radius: .5rem;
      // line-height: 1em;
      margin: auto 0 auto auto;

    }
  
    .job-status-complete-success {

      &:hover { background-color: $panel-inner; }
    }

    .fy-inference-job-action-success {
      background-color: $primary-transparent;
      &:hover { background-color: lighten($primary, 5%); }
    }

    .fy-inference-job-action, .job-stop-confirm, .job-stop-cancel {
      cursor: pointer;
      background-color: $secondary;
      &:hover { background-color: $secondary-light; }
    }
    .fy-slide-wrapper {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      padding-right: .5rem;
      white-space: nowrap;
    }

    .job-stop-confirm, .job-stop-cancel {
      border-radius: .5rem;
      margin-left: .5rem;
      padding: .625rem 1rem;;
      line-height: 1em;
      // height: 2.25rem;
    }
  }
}

.fy-slide-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

