@import "scss/colours.scss";

a.face-animator-job {
  &:hover {
    background-color: $panel-inner;
  }
}

.face-animator-job {
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: .5rem;
  padding: .5rem;

  .job-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // height: 100%;
    width: min-content;

  }

  .work-indicator { margin-right: .5rem; }

  h6 { 
    color: #fff;
    line-height: 1rem;
    height: 1rem;
    margin-bottom: 0;
    white-space: nowrap
  }
  
  span { font-weight: lighter; line-height: 1rem; }
}