.face-animator-job {
	svg {
		// background-color: rgba(#ccc, .05);
		margin-right: .5rem;
		height: 2.25rem;
		width: 2.25rem;
		fill: none;

		circle, line, polyline {

			stroke-width: 4px;
			stroke-linecap: round;
			stroke: #fff;
		}

		polyline {
			transform: translate(2px,2px);
		}
	}

	@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
	.work-indicator-circle-track {
		stroke: rgba(#fff, .15);
		stroke-width: 4px;
	}
	.work-indicator-circle-marker {
		transform-origin: 18px 18px;
		animation: ckw 1.5s linear infinite;
		// strokeDashoffset: 4;
		// stroke: #fff;
	}

	h6 { 
		line-height: 1rem;
		height: 1rem;
		margin-bottom: 0;
		white-space: nowrap
	}
	span { font-weight: lighter; line-height: 1rem; }
}