[package]
name = "obs-gateway-server"
edition = "2018"
version = "0.0.1"
authors = [
    "Brandon Thomas <bt@brand.io>",
    "Brandon Thomas <echelon@gmail.com>",
]
publish = false

[[bin]]
name = "obs-gateway-server"
path = "src/main.rs"
