@import "scss/colours.scss";

.fy-image-uploader {
	overflow: hidden;
	height: 100%;
	width: 100%;

	.file-preview {
		height: 100%;
		width: 100%;
		border-radius: .5rem;
		object-fit: cover;
	}

	.file-details {
		background-color: rgba($panel, .85);
		top: 1rem;
		left: 1rem;
		width: calc(100% - 2rem);
		position: absolute;
	}
}