@import "scss/colours.scss";

.tags-input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &:focus-within {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $primary;
  }

  .tag {
    background-color: lighten($action, 10%);
    border-radius: 5px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 8px;
  }

  .tag button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba($white, 0.6);
    transition: all 0.2s;

    &:hover {
      color: lighten($primary, 20%);
    }
  }
}

input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.5);
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($white, 0.5);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba($white, 0.5);
  }
}
