@import "scss/colours.scss";

.fy-segment-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1px;
  padding: 0;

  li {
    background-color: $secondary;
    border-radius: 0.125rem;
    cursor: pointer;
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    padding: 0.75rem;
    transition: 0.1s background-color ease-in-out;
    font-size: 14px;

    &:hover {
      background-color: lighten($secondary, 5%) !important;
    }
    &:first-of-type {
      border-radius: 0.5rem 0.125rem 0.125rem 0.5rem;
    }
    &:last-of-type {
      border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
    }
    &.fy-selected-segment {
      background-color: lighten($secondary, 12%);

      &:hover {
        background-color: lighten($secondary, 12%) !important;
      }
    }

    p {
      font-size: 12px;
      opacity: 0.8;
      margin: 0;
      padding: 0;
    }

    .fy-segment-button-icon {
      font-size: 24px;
      margin-bottom: 0.5rem;
      color: lighten($secondary, 60%);
    }
  }
}
