/* Config */
$color-bg: #000000;
$color-particle: rgba(255, 255, 255, 0.04);
$spacing: 2560px;
$time-1: 120s;
$time-2: 240s;
$time-3: 360s;
$time-4: 420s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* Styles */

.page-bg,
.animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(500);
  height: 7px;
  width: 7px;
}

.particle-1:after {
  @include particles(400);
  height: 8px;
  width: 8px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(300);
  height: 5px;
  width: 5px;
}

.particle-2:after {
  @include particles(500);
  height: 5px;
  width: 5px;
}

// .particle-3:after {
//   @include particles(800);
//   height: 10px;
//   width: 10px;
//   border-radius: 50%;
// }

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(100);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(500);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}
