.fy-basic-grid {
	 header {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    
	>:not(.fy-input-label), {
		margin-bottom: 1rem;
	}

    .lower-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
    }
}