@import "scss/_breakpoint.scss";
@import "scss/breakpoints.scss";
@import "scss/colours.scss";

.weight-editor {
  // display: flex;

  // @include breakpoint($under992) {
  //   flex-direction: column-reverse;
  // }
  // // background-color: red;

  // & > * {
  //   flex-shrink: 0;
  //   // margin-right: 1rem;
  //   @include breakpoint($over992) {
  //     width: 50%;
  //     max-width: 50%;
  //   }

  //   @include breakpoint($under992) {
  //     width: 100%;
  //   }
  // }

  textarea {
    height: 10rem;
    resize: none;
  }

  // > :first-child {
  //   // background-color: purple;
  // }

  // > :last-child {
  //   // background-color: green;
  //   padding-left: 2rem;
  // }

  .form-group {
    margin-bottom: 0.75rem;
  }

  .upload-control-indicator {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}