@import "scss/colours.scss";

.selection-bubbles-wrapper {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;

  .scroll-indicator {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    color: rgba($white, 0.3);
    pointer-events: none;
    transition: all 0.4s;
  }

  .scroll-indicator-left {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: rgba($white, 0.3);
    pointer-events: none;
    transition: all 0.4s;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background: linear-gradient(to right, rgba($panel, 0), $panel);
    pointer-events: none;
    display: none;
    transition: all 0.4s;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background: linear-gradient(to left, rgba($panel, 0), $panel);
    pointer-events: none;
    display: none;
    transition: all 0.4s;
  }

  &.show-gradient:after {
    display: block;
  }

  &.show-left-gradient:before {
    display: block;
  }
}

.selection-bubbles {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: start;
    overflow-x: visible;
  }

  &.no-side-scroll {
    flex-wrap: wrap;
  }
}

.bubble-button {
  flex: 0 0 auto;
  border: 2px solid darken($secondary, 3%);
  padding: 8px 16px;
  border-radius: 0.5rem;
  background-color: darken($secondary, 3%);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  font-size: 15px;
  font-weight: 500;
  color: rgba($white, 0.75);
  white-space: nowrap;

  &.bubble-card {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;

    .bubble-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .bubble-text {
      position: absolute;
      z-index: 3;
      color: white;
      padding-left: 10px;
      padding-bottom: 5px;
      text-align: left;
      width: 100%;
      bottom: 0;
      left: 0;
      font-size: 14px;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      z-index: 2;
      height: 35%;
    }

    &.selected::after {
      background: linear-gradient(to top, rgba(#632323, 90%), transparent);
      height: 35%;
    }
  }

  &:hover {
    background-color: $secondary;
    border-color: $secondary;

    &.fill {
      border-color: $primary;
      background-color: $primary;
    }
  }

  &.selected {
    color: $white;
    border-color: $primary;
    background-color: lighten($secondary, 6%);

    &.fill {
      background-color: $primary;
    }
  }
}

@media (max-width: 768px) {
  .mobile-flex-nowrap {
    flex-wrap: nowrap;
  }
}
