
h1 {
  font-size: 1.8em;
  font-family: arial;
  text-align: center;
  color: #333;
}

input {
  width: 80%;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 1em;
}

button {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 8px;
}

#main {
  margin: auto;
  width: 90%;
  text-align: center;
}


.error input {
  border-color: #f55;
  background-color: #fee;
  color: #500;
}

.ok input {
  border-color: #5a5;
  background-color: #efe;
}
