@import "scss/colours.scss";

.redeem-container {
  max-width: 600px !important;
}

.redeem-button {
  font-size: 20px !important;
  font-weight: 500;
  color: #fff;
  background-color: $primary;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 14px;
  width: 300px;
  border: 4px solid lighten($primary, 12%);

  &:hover {
    background-color: lighten($primary, 5%);
    color: #fff;
    border: 4px solid lighten($primary, 12%);
  }
  &:active,
  &:focus {
    border: 4px solid lighten($primary, 12%);
  }
}
