@import "scss/colours.scss";

.studio-tutorial-page {
  display: flex;
  background: $panel;

  .studio-tutorial-style {
    min-width: fit-content;
  }

  .tutorial-style-tab {
    padding: 1rem;
  }

  .tutorial-tab-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}