.stretch-background-image {
  background-image:
    linear-gradient(
      0deg,
      rgb(var(--st-photo-tint-rgb) / var(--st-photo-tint-alpha)),
      rgb(var(--st-photo-tint-rgb) / var(--st-photo-tint-alpha))
    ),
    url("/resources/images/digital-mountains.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(var(--st-photo-grayscale));
}
