@import "scss/colours.scss";

.nav-tabs {
  border-bottom: 2px solid #ffffff15;

  .nav-link {
    border: none;
    padding: 1rem 1.4rem;
    border-bottom: 4px solid transparent;
    color: rgba($white, 0.5);
    font-weight: 500;
    white-space: nowrap;
    transition: 0.2s;

    &:hover {
      color: rgba($white, 0.75);
    }

    &.active {
      color: $white;
      background-color: transparent;
      border-bottom: 4px solid $primary;
    }
  }
}
