@import "scss/colours.scss";
@import "scss/site-refresh.scss";

.fy-camera-capture-modal {
	width: 100%;
	height: 100%;

	position: relative;

	.fy-camera-capture-display {
		height: 100%;
		margin: auto;
	}

	.fy-camera-capture-controls {
		@include video-tint;
		position: absolute;
		bottom: 1rem;
		border-radius: 0.5rem;
		padding: 0.5rem 0.5rem 0.25rem;
		left: 0;
		right: 0;
		margin: auto;
		width: 50%;
		display: flex;
		justify-content: center;
	}

	.fy-camera-capture-record-toggle {
		appearance: none;
		border: none;
		background: none;
		display: inline-flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		color: #fff;
		font-size: 0.75rem;

		// background: green;

		svg {
			display: block;
			// background: rgba(#00f, 0.25);
			height: 2rem;
			width: 2rem;
			margin-bottom: 0.25rem;

			circle {
				fill: none;
				stroke: $primary;
				stroke-width: 2px;
			}
			rect {
				fill: $primary;
			}
		}
	}
}
