@import "scss/colours.scss";
@import "scss/site-refresh.scss";

.fy-media-browser-tools {
  display: flex;
  align-items: center;
  margin: auto 0 auto auto;
  gap: 1rem;
  justify-content: space-between;

  .pagination {
    margin: auto 0 auto auto;
  }

  .fy-temp-select {
    margin-bottom: 0;
  }
}

.fy-media-browser-header {
  h3 {
    margin-bottom: 0;
  }
  > * {
    margin-bottom: 1rem;
  }

  .fy-input {
    margin-bottom: 0;
    flex-grow: 1;
  }

  @include close-parent;
}

.fy-media-browser-list {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;

  @media (max-width: 768px) {
    height: calc(100vh - 100px);
  }
}

.fy-media-browser-footer {
  margin-top: 1rem;
}
