@import "scss/_breakpoint.scss";
@import "scss/colours.scss";

$under992: max-width 992px;

.lipsync-editor {
  padding-top: 2rem;

  .media-input-column {
    display: inline-block;
  }
  @include breakpoint($under992) {
    .media-input-column:first-of-type {
      margin-bottom: 1rem;
    }
  }

  .video-frame {
    width: 100%;
    position: relative;

    video, .video-overlay {
      border-radius: .5rem;
      width: 100%;
      height: 100%;
    }

    video {
    }
    .video-overlay {
      background: linear-gradient(rgba($primary,0.5) 0%, rgba($secondary,0.75) 75%);
      cursor: pointer;
      padding: 2rem;
      position: absolute;
      top: 0px;

      h6 {
        color: #fff;
        filter: drop-shadow(0 3px 3px rgba($primary-dark,.25));
        font-size: 2rem;
        text-align: center;
      }

      svg {
        filter: drop-shadow(0 3px 7px rgba($primary-dark,.45));
        position: absolute;
        width: 3rem;
        height: 3rem;
        inset: 50%;
        transform: translate(-50%, -50%);
      }

      .video-play-button {
        background-color: green;
        width: 4rem;
        height: 4rem;
        stroke: white;
      }
    }
  }
  .animation-configure-panel {
    margin: 1rem 0 -.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 2rem;

    .input-block {
      legend {
        font-size: .875rem;
      };
      flex-grow: 1;
      vertical-align: top;
    }
  }
}

.progress-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // padding: 1rem;

  .progress-heading {
    display: inline-block;
    margin: auto 1rem auto 0;
  }

  .async-progress-tracker {
    display: inline-flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 1rem;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 500;
    }

    svg {
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
      stroke: white;
    }
  }

  .progress-description {
    margin-top: 1rem;
    width: 100%;
  }

  button {
    margin: 0 0 0 auto;
    background-color: #ccccff;
    width: fit-content;

    @include breakpoint($under992) {
      margin: 1rem 0 0;
      width: 100%;

      .button-slide {
        width: 100%;
      }
    }
  }
}

.lipsync-panel {
  position: relative;
  overflow: hidden;
}

.lipsync-working,
.lipsync-working-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lipsync-working-notice {
  flex-direction: column;
  margin: 5rem;

  .working-title {
    white-space: nowrap;
  }
}

.lipsync-success {
  padding: 0.5rem 1rem 1rem;

  h3 {
    margin: 1rem auto 0 0;
  }

  .job-id {
    color: rgba(#fff, 0.66);
    font-size: 0.75rem;
  }
}
