.progress-header {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	.progress-heading {
		display: inline-block;
		margin: auto 1rem auto 0;
	}

	.async-progress-tracker {
		display: inline-flex;
		justify-content: space-around;
		flex-grow: 1;
		margin-right: 1rem;
		padding-left: 0;

		li {
			display: flex;
			align-items: center;
			font-size: 1.25rem;
			font-weight: 500;
		}

		svg {
			border: 2px solid #fff;
			border-radius: 50%;
			margin-right: .5rem;
			height: 2rem;
			width: 2rem;
			stroke: white;
		}
	}

	button {
		margin: 0 0 0 auto;
		background-color: #ccccff;
		// flex-grow: 1;
		width: fit-content;
	}
}