@import "scss/_breakpoint.scss";
@import "scss/colours.scss";

$under992: max-width 992px;
$over992: min-width 992px;

@mixin FAltTxt { color: #b6b6bb; }
@mixin FApanel { 
  padding: 1.5rem; 
  @include breakpoint($under992) {
    padding: 1rem;
  }
}

.face-animator-main {
  @include FApanel;
  position: relative;
  overflow: hidden;

  h1 { line-height: 1em;}
};

.lipsync-editor {
  padding-top: 2rem;

  .media-input-column {
    display: inline-block;
  }
  @include breakpoint($under992) {
    .media-input-column:first-of-type {
      margin-bottom: 1rem;
    }
  }

  .audio-input-column {
    display: flex;
    flex: 1;
    flex-direction: column;

    .fy-audio-uploder {
      flex: 1 0 auto;
    }
  }

  .animation-configure-panel {
    margin: 1.5rem 0 -.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 2rem;

    .input-block {
      legend {
        @include FAltTxt;
        font-size: .875rem;
      };
      flex-grow: 1;
      vertical-align: top;
    }
  }
}

.progress-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // padding: 1rem;

  .progress-heading {
    display: inline-block;
    margin: auto 1rem auto 0;
  }

  .async-progress-tracker {
    display: inline-flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 1rem;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 500;
    }

    svg {
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
      stroke: white;
    }
  }

  .progress-description {
    @include FAltTxt;
    margin-top: 1rem;
    width: 100%;
  }

  button {
    margin: 0 0 0 auto;
    background-color: #ccccff;
    width: fit-content;

    @include breakpoint($under992) {
      margin: 1rem 0 0;
      width: 100%;

      .button-slide {
        width: 100%;
      }
    }
  }
}

.lipsync-working,
.lipsync-working-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lipsync-working-notice {
  flex-direction: column;
  margin: 5rem;

  .working-title {
    white-space: nowrap;
  }
}

.lipsync-success {
  padding: 0.5rem 1rem 1rem;

  h4 {
    @include FAltTxt;
    text-align: center;
    margin: 1rem auto 0 0;
  }
}

.face-animator-mobile-sample {
  padding: 1rem;

  @include breakpoint($over992) {
    display: none;
  }
}

.face-animator-wide-sample {
  flex: 1;
  height: auto;

  @include breakpoint($under992) {
    display: none;
  }

  video { position: absolute ;}
}

.face-animator-jobs {
  @include FApanel;
  h5 {
    @include FAltTxt;
    line-height: 1em;
  }
  margin-top: 1rem;
  .face-animator-job {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 1rem;
    padding: 1rem;

    @include breakpoint($under992) {
      margin-top: .5rem;
      padding: .5rem;
    }

    .job-status-icon {
      // background-color: red;
      padding: .5rem;
      height: 2rem;
      width: 2rem;
      border-radius: .5rem;
      margin-right: 1rem;
    }

    .job-status-1 { background-color: rgba(#89f, .6); } // started = blue
    .job-status-2 { background-color: rgba(#efb700, .9); } // failed = yellow
    .job-status-3 { background-color: rgba($primary, .6); } // dead = red
    .job-status-4 { background-color: $success } // success = green

    .job-details {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      // height: 100%;
      width: min-content;

      h4, span { white-space: nowrap; }
      
      h4 {
        line-height: 1em;
        margin-bottom: 0;
      }

    }

    a {
      white-space: nowrap;
      margin: 0 0 0 auto;

      @include breakpoint($under992) {
        margin: .5rem 0 0;
        width: 100%;
      }
    }
  }

  .job-id {
    @include FAltTxt;
    line-height: 1em;
    display: block;
    font-size: 0.75rem;
  }
}
