.lipsync-editor {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 1rem;

	.grid-heading, .grid-square {
		&:nth-child(odd) {
			padding-left: 1rem;
		}
		&:nth-child(even) {
			padding-right: 1rem;
		}
	}

	.grid-heading {
		display: flex;
		align-items: center;
		// background-color: blue;
		// padding-left: 1rem;
		h5 {
			margin: 1rem 0 0;
			// background: red;
			line-height: 1em;
		}
	}

	.grid-square {
		aspect-ratio: 1;
		padding-bottom: 1rem;
		// &:nth-child(odd) {
		// 	padding-left: 1rem;
		// }
		// &:nth-child(even) {
		// 	padding-right: 1rem;
		// }
	}




	// div.grid-square { aspect-ratio: 1 }
	.fy-image-uploader { height: 100%; }
	.lipsync-audio {
		label { height: 100% }
	}
}

.progress-header {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	.progress-heading {
		display: inline-block;
		margin: auto 1rem auto 0;
	}

	.async-progress-tracker {
		display: inline-flex;
		justify-content: space-around;
		flex-grow: 1;
		margin-right: 1rem;
		padding-left: 0;

		li {
			display: flex;
			align-items: center;
			font-size: 1.25rem;
			font-weight: 500;
		}

		svg {
			border: 2px solid #fff;
			border-radius: 50%;
			margin-right: .5rem;
			height: 2rem;
			width: 2rem;
			stroke: white;
		}
	}

	button {
		margin: 0 0 0 auto;
		background-color: #ccccff;
		// flex-grow: 1;
		width: fit-content;
	}
}