* {
  scrollbar-width: thin;
  scrollbar-color: #363636 #171717;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #171717;
}

*::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 4px;
  border: 2px solid #171717;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family:
    "Source Sans 3",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    system-ui,
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  color: #fff;
  color-scheme: dark;
  user-select: none;
}

/* Tauri custom titlebar drag regions */
[data-tauri-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
}

.tauri-no-drag,
[data-tauri-drag-region] .no-drag,
[data-tauri-drag-region] button,
[data-tauri-drag-region] a,
[data-tauri-drag-region] input,
[data-tauri-drag-region] textarea,
[data-tauri-drag-region] select {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

img {
  user-select: none;
  pointer-events: none;
}

.topbar-spacer {
  height: 56px;
  width: 100vw;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.text-overflow-ellipsis {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */

/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff30;
  color: #ffffff30;
  box-shadow:
    9984px 0 0 0 #ffffff30,
    9999px 0 0 0 #ffffff30,
    10014px 0 0 0 #ffffff30;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow:
      9984px 0 0 0 #ffffff30,
      9999px 0 0 0 #ffffff30,
      10014px 0 0 0 #ffffff30;
  }
  16.667% {
    box-shadow:
      9984px -10px 0 0 #ffffff30,
      9999px 0 0 0 #ffffff30,
      10014px 0 0 0 #ffffff30;
  }
  33.333% {
    box-shadow:
      9984px 0 0 0 #ffffff30,
      9999px 0 0 0 #ffffff30,
      10014px 0 0 0 #ffffff30;
  }
  50% {
    box-shadow:
      9984px 0 0 0 #ffffff30,
      9999px -10px 0 0 #ffffff30,
      10014px 0 0 0 #ffffff30;
  }
  66.667% {
    box-shadow:
      9984px 0 0 0 #ffffff30,
      9999px 0 0 0 #ffffff30,
      10014px 0 0 0 #ffffff30;
  }
  83.333% {
    box-shadow:
      9984px 0 0 0 #ffffff30,
      9999px 0 0 0 #ffffff30,
      10014px -10px 0 0 #ffffff30;
  }
  100% {
    box-shadow:
      9984px 0 0 0 #ffffff30,
      9999px 0 0 0 #ffffff30,
      10014px 0 0 0 #ffffff30;
  }
}

/**
  * ==============================================
  * Dot Bricks
  * ==============================================
  */
.dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff30;
  color: #ffffff30;
  box-shadow:
    9991px -16px 0 0 #ffffff30,
    9991px 0 0 0 #ffffff30,
    10007px 0 0 0 #ffffff30;
  animation: dot-bricks 2s infinite ease;
}

@keyframes dot-bricks {
  0% {
    box-shadow:
      9991px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30;
  }
  8.333% {
    box-shadow:
      10007px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30;
  }
  16.667% {
    box-shadow:
      10007px -16px 0 0 #ffffff30,
      9991px -16px 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30;
  }
  25% {
    box-shadow:
      10007px -16px 0 0 #ffffff30,
      9991px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30;
  }
  33.333% {
    box-shadow:
      10007px 0 0 0 #ffffff30,
      9991px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30;
  }
  41.667% {
    box-shadow:
      10007px 0 0 0 #ffffff30,
      10007px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30;
  }
  50% {
    box-shadow:
      10007px 0 0 0 #ffffff30,
      10007px -16px 0 0 #ffffff30,
      9991px -16px 0 0 #ffffff30;
  }
  58.333% {
    box-shadow:
      9991px 0 0 0 #ffffff30,
      10007px -16px 0 0 #ffffff30,
      9991px -16px 0 0 #ffffff30;
  }
  66.666% {
    box-shadow:
      9991px 0 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30,
      9991px -16px 0 0 #ffffff30;
  }
  75% {
    box-shadow:
      9991px 0 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30,
      10007px -16px 0 0 #ffffff30;
  }
  83.333% {
    box-shadow:
      9991px -16px 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30,
      10007px -16px 0 0 #ffffff30;
  }
  91.667% {
    box-shadow:
      9991px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30,
      10007px -16px 0 0 #ffffff30;
  }
  100% {
    box-shadow:
      9991px -16px 0 0 #ffffff30,
      9991px 0 0 0 #ffffff30,
      10007px 0 0 0 #ffffff30;
  }
}

.ReactCrop__crop-selection:focus {
  outline: none !important;
}
