@import "scss/colours.scss";

.social-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.social-button-icon {
  font-size: 32px !important;
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0px solid;
  margin-bottom: 10px;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &.bg-facebook {
    color: $white;
    background-color: #4267b2;
  }

  &.bg-reddit {
    color: $white;
    background-color: #ff5700;
  }

  &.bg-reddit {
    color: $white;
    background-color: #ff5700;
  }

  &.bg-whatsapp {
    color: $white;
    background-color: #25d366;
  }

  &.bg-x {
    color: $white;
    background-color: #1da1f2;
  }

  &.bg-email {
    color: $white;
    background-color: #858585;
  }
}

.social-button-text {
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .social-button-icon {
    height: 62px;
    width: 62px;
  }

  .social-button-text {
    font-size: 13px;
    font-weight: 600;
  }
}
