// @import "./scss/normalize.scss";
// @import-normalize; /* bring in normalize.css styles */
@import "./scss/colours.scss";
@import "./scss/site-refresh.scss";
@import "./scss/CSSParticles.scss";

$page-width: 700px;

$light-text-color: rgba($white, 0.8);
$button-text-color: #666;

$body-font-family: "Fira Sans", serif;
$nav-font-family: "Fira Sans", sans-serif;
$footer-font-family: "Fira Sans Condensed", sans-serif;
$textarea-font-family: "Fira Sans", sans-serif;
$headings-font-family: "Merriweather", serif;

// Old design parents all elements with class "fakeyou-old"
// Refresh design parents all elements with class "fakeyou-refresh"
//
// The reason for this is that WebPack imports and packs all SCSS files, which
// makes it impossible to dynamically change styles.
//
// Once the rollout is complete, this outer wrapper class can be removed.

.fakeyou-refresh {
  body {
    font-family: $body-font-family;
    font-weight: 300; // For Fira Sans
    color: $white;

    &.dark-mode {
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
      }
    }
  }

  .bg-gradient {
    background: rgb(13, 16, 25) !important;

    background: linear-gradient(
      325deg,
      rgba(13, 16, 25, 1) 0%,
      rgba(42, 21, 34, 1) 55%,
      rgba(16, 14, 26, 1) 100%
    ) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  // Style for user text input that overflows
  .overflow-fix {
    overflow-wrap: anywhere;
  }

  //old wrapper
  // .mainwrap {
  //   max-width: 800px;
  //   margin: auto;
  // }

  canvas#spectrogram {
    margin: 0.5em 0;
    transform: scaleY(-1);
    /* Spectrograms are flipped */
    height: 300px;
    width: 100%;
    cursor: pointer;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  /*p {
    a:link, 
    a:visited {
      color: rgb(119, 165, 235);
      font-weight: bold;
    }
    a:hover, 
    a:active{
      color: rgb(85, 133, 204);
      font-weight: bold;
    }
  }*/

  // p {
  //   a:before {
  //     content: " ";
  //   }
  // }

  #main {
    position: relative; // Footer attachment.
    min-height: 100vh;
    overflow: hidden;

    &.low-spec {
      .particle-1 {
        animation: animParticle $time-1 linear infinite;
        @include particles(0);
        height: 7px;
        width: 7px;
      }

      .particle-1:after {
        @include particles(0);
        height: 8px;
        width: 8px;
      }

      .particle-2 {
        animation: animParticle $time-2 linear infinite;
        @include particles(0);
        height: 5px;
        width: 5px;
      }

      .particle-2:after {
        @include particles(0);
        height: 5px;
        width: 5px;
      }

      // .particle-3:after {
      //   @include particles(800);
      //   height: 10px;
      //   width: 10px;
      //   border-radius: 50%;
      // }

      .particle-4 {
        animation: animParticle $time-4 linear infinite;
        @include particles(0);
        height: 1px;
        width: 1px;
      }

      .particle-4:after {
        @include particles(0);
        height: 1px;
        width: 1px;
      }
    }

    &.dark-mode {
      &.bg-gradient {
        background: darken(rgb(13, 16, 25), 3%) !important;

        background: linear-gradient(
          325deg,
          darken(rgba(13, 16, 25, 1), 3%) 0%,
          darken(rgba(42, 21, 34, 1), 3%) 55%,
          darken(rgba(16, 14, 26, 1), 3%) 100%
        ) !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

      .top-bar {
        background-color: rgba($white, 0.05);
      }

      .panel {
        background-color: rgba($white, 0.05);
      }

      select {
        border-color: $input-dark !important;
        background-color: $input-dark !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      }

      .btn-destructive {
        background-color: #ffcfce !important;
      }

      .video-card-title,
      .video-card-text {
        color: $white !important;
      }

      textarea {
        background-color: $input-dark !important;
        border-color: $input-dark !important;
        color: $white;
      }

      .form-select {
        color: $white;
      }

      ::placeholder {
        color: $white !important;
      }

      .input-icon .form-control-feedback {
        color: $white !important;
      }

      input {
        background-color: $input-dark !important;
        border-color: $input-dark !important;
        color: $white;
      }

      .btn-secondary {
        color: $white !important;
        border-color: #5a4a54;
        background-color: #5a4a54;

        &:hover {
          border-color: lighten(#5a4a54, 5%);
          background-color: lighten(#5a4a54, 5%);
        }
      }

      .btn-destructive {
        background-color: #5a3d47 !important;
        border-color: #5a3d47;
        color: $white;

        &:hover {
          border-color: lighten(#5a3d47, 6%);
          background-color: lighten(#5a3d47, 6%) !important;
        }
      }

      .btn-inform svg {
        filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(196deg)
          brightness(200%) contrast(103%);
      }

      .dropdown-menu {
        background-color: #281b25;
      }

      .dropdown-item {
        color: $white;

        &:hover {
          background-color: lighten(#271e25, 8%);
        }
        &:focus {
          background-color: lighten(#271e25, 8%);
        }
        &:active {
          background-color: $primary;
        }
      }

      .menu-item {
        color: $white;
        background-color: $input-dark;
        border-bottom: 1px solid;
        border-color: rgba($white, 0.05);

        &:hover {
          background-color: lighten($input-dark, 10%);
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .form-control::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba($white, 0.5) !important;
        opacity: 1; /* Firefox */
      }

      .form-control:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba($white, 0.5) !important;
      }

      .form-control::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba($white, 0.5) !important;
      }
    }
  }

  $footer-height: 2rem;

  #viewable {
    padding-bottom: $footer-height;
  }

  footer {
    font-family: $footer-font-family;
    text-align: center;
    width: 100%;
    position: absolute; // Footer attachment.
    bottom: 0;
    // NB: Setting explicit height doesn't appear to be necessary, and
    // it was creating an annoying scrollbar.
    //height: $footer-height;
    color: $light-text-color;
  }

  .social {
    img {
      max-width: 70px;
      max-height: 70px;
      padding: 1em;
    }
  }

  // Tech logos need a hack to not have margin.
  .vocodes-grid-marginless {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  nav {
    font-family: $nav-font-family;

    .navbar {
      z-index: 2;
    }

    .navbar-dark .navbar-toggler {
      border: none;
    }

    .nav-link {
      font-size: 15px;
      font-weight: 600;
      padding-left: 16px !important;
      padding-right: 16px !important;
      color: $light-text-color;
      display: flex;
      align-items: center;
    }

    .navbar-brand {
      padding-top: 0;
    }

    .dropdown-item {
      font-size: 15px;
      font-weight: 600;
      padding: 0.5rem 1rem;
      color: $secondary;

      &:hover {
        color: $secondary;
      }

      &:focus {
        background-color: $white;
      }

      &:active {
        background-color: $primary;
        color: $white;
      }
    }

    .dropdown-menu {
      border-color: rgba($white, 0.12) !important;
      border: 1px solid;
      border-radius: 8px;
      box-shadow: 0px 5px 20px rgba($black, 0.3);
    }

    .nav-bg-dark {
      background-color: #17101c !important;
    }

    .offcanvas {
      width: 100vw;
    }

    .nav-login {
      font-size: 15px;
      font-weight: 600;
      color: $white;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        color: rgba($white, 0.6);
        text-decoration: none;
      }
    }
  }

  a.top-bar-text:hover {
    color: $primary !important;
  }

  .top-bar {
    display: flex;
    align-items: center;
    background-color: rgba($white, 0.04);
    margin-bottom: 5px;
    padding: 10px 0;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.06);
  }

  .top-bar-text {
    color: rgba($white, 0.7);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s;
  }

  .dropdown-divider-white {
    border-top: 1px solid rgba($white, 0.15);
  }

  .button-group {
    padding: 1em 0;
  }

  #status {
    .info {
      color: #888888;
    }

    .warn {
      color: #aaaa00;
    }

    .error {
      color: #aa0000;
    }

    min-height: 1.5em;
  }

  .upload-box {
    padding: 0 0 1em;
  }

  .video-template-selector {
    margin: 1.5em 0 1.5em 0;
    text-align: center;

    .thumbnail {
      max-width: 220px;
      padding: 0em;
      margin: 5px;
      filter: brightness(70%) grayscale(1);
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
    }

    .selected {
      filter: brightness(100%) grayscale(0);
      box-shadow: 0px 0px 25px #209cee;
    }
  }

  .video-wrapper {
    text-align: center;
  }

  // #usage,
  // #updates,
  // #help-wanted,
  // #terms {
  //   h1,
  //   h2 {
  //     font-family: $headings-font-family;
  //   }

  //   p {
  //     text-align: justify;
  //   }

  //   li {
  //     font-size: 1.2em;
  //     text-align: justify;
  //     margin-bottom: 1em;
  //   }
  // }

  // .template-preview {
  //   text-align: center;
  // }

  // /* V2 (but probably defined elsewhere too) */

  .mascot {
    text-align: center;
    margin: auto;
  }

  .mascot img {
    max-width: 200px;
  }

  // .main-form {
  //   padding: 0 15px;
  // }

  .git-sha {
    color: #999;
    font-size: 0.8rem;
    margin-top: 10px;
  }

  // /* TAILWIND STYLE CLASSES */

  // .display-inline {
  //   display: inline;
  // }

  // .white-space-nowrap {
  //   white-space: nowrap;
  // }

  // .padding-bottom-1em {
  //   padding-bottom: 1em;
  // }

  /** RESPONSIVENESS **/

  /** Hide footer when using onscreen keyboard. */
  /* Actually, let's not do that because people filed bug reports.
  @media screen and (max-height: 550px) {
    footer {
      display: none;
    }
    nav {
      display: none;
    }
  }
  */

  #particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;

    canvas {
      pointer-events: none !important;
    }
  }

  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

@media screen and (max-height: 740px) {
  .fakeyou-refresh {
    footer p {
      display: inline;
    }

    footer p:after {
      content: " "; // Not sure why the space disappears when inline.
    }

    .social {
      img {
        max-width: 50px;
        max-height: 50px;
        padding: 0.2em;
      }
    }
  }
}

// // Prevent Android devices from horizontal scrolling
// // Mine is 412x846.
// @media screen and (max-width: 412px) {
//   #root {
//     max-width: 380px;
//     margin: auto;
//   }
// }

@media (min-width: 992px) {
  .fakeyou-refresh {
    nav {
      .nav-bg-dark {
        background-color: #17101c00 !important;
      }

      // hover nav dropdown on desktop
      &.navbar {
        .nav-item {
          &:hover {
            .nav-link {
              color: $white;
            }

            .dropdown-menu {
              transition: 0.2s;
              opacity: 1;
              visibility: visible;
              top: 100%;
              transform: rotateX(0deg);
            }
          }

          .dropdown-menu {
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s;
            margin-top: 0;
          }
        }
      }
    }

    .top-bar-text {
      font-size: 12px;
    }
  }
}
