@import "scss/colours.scss";

.mobile-menu {
  z-index: 100;
  position: fixed;
  min-width: 0px;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background-color: $panel;
  border-color: #ffffff12 !important;
  border: 1px solid;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 200ms ease 0s;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
  padding: 0.6rem 1rem;
}
