html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}

hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255);
  opacity: 0.1;
}

html.sr .load-hidden {
  visibility: hidden;
}

select {
  cursor: pointer;
}

button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

a {
  font-weight: 400;
  color: #fc6b68;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}

.text-link {
  color: #fc6b68;
}

a:hover {
  color: #ff8d8b;
}

h1 {
  font-weight: 700;
}

h3 {
  color: rgba(255, 255, 255, 0.8);
}

p {
  font-weight: 300;
  margin-bottom: 0;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.container {
  max-width: 1200px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
}

/*margin top/bottom for panels*/
.py-6 {
  padding-top: 1.6rem !important;
  padding-bottom: 0rem !important;
}

.navbar {
  z-index: 2;
}

.navbar-home {
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.nav-bg-dark {
  background-color: #17101c !important;
}

.offcanvas {
  width: 100vw;
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.navbar-brand {
  padding-top: 0;
}

.dropdown-item {
  font-size: 15px;
  font-weight: 600;
}

.dropdown-item:active {
  background-color: #fc6b68;
}

.dropdown-menu {
  border-color: #ffffff12 !important;
  border: 1px solid;
  border-radius: 8px;
}

.parent {
  position: relative;
}

span.word {
  position: relative;
  z-index: 1;
}

span.word:after {
  background-color: #fc6b68;
  content: " ";
  height: 15%;
  position: absolute;
  left: 0;
  margin-left: 0rem;
  top: 74%;
  width: calc(100%);
  z-index: -1;
}

.bg-gradient {
  background: rgb(13, 16, 25) !important;
  background: linear-gradient(
    325deg,
    rgba(13, 16, 25, 1) 0%,
    rgba(42, 21, 34, 1) 55%,
    rgba(16, 14, 26, 1) 100%
  ) !important;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg-hero {
  background: rgb(18, 14, 26);
  background: linear-gradient(
    180deg,
    rgba(18, 14, 26, 1) 0%,
    rgba(48, 23, 32, 1) 100%
  );
}

.lead {
  color: rgba(255, 255, 255, 0.8);
}

.btn {
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  z-index: 1;
}

.btn-primary {
  background-color: #fc6b68;
  border: 2.5px solid;
  border-color: #fc6b68;
  transition: 0.2s;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ff8d8b;
  border: 2.5px solid;
  border-color: #ff8d8b;
}

.btn-secondary {
  background-color: #fff;
  color: #443a40;
  border: 2.5px solid;
  border-color: #fff;
  transition: 0.2s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #ccc;
  color: #443a40;
  border: 2.5px solid;
  border-color: #ccc;
}

.btn-destructive {
  background-color: #fff;
  color: #fc6b68;
  border: 2.5px solid;
  border-color: #fff;
  transition: 0.2s;
}

.btn-destructive:hover,
.btn-destructive:focus {
  background-color: #fdcfce;
  color: #fc6b68;
  border: 2.5px solid;
  border-color: #fdcfce;
}

.btn-hero {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.nav-login {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: 0.1s;
}

.nav-login:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 0.1s;
}

.red-line {
  border-left: 3px solid #fc6b68;
  height: 100%;
  top: 0;
}

.alert {
  border-radius: 5px;
}

.hero-section {
  height: 100vh;
  width: 100%;
  min-height: 700px;
  max-height: 1080px;
  text-align: center;
  overflow: hidden;
}

.hero-inner {
  padding-top: 100px;
  height: 100%;
}

.hero-text {
  max-width: 800px;
  color: rgba(255, 255, 255, 0.6);
}

.hero-img-section {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.hero-img {
  position: absolute;
  bottom: 0;
  max-height: 110%;
  max-width: 140%;
  z-index: 1;
}

.hero-floor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 50%;
}

@keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: -1448px 0;
  }
}

#hero-audio-wave {
  position: absolute;
  bottom: 0;
  margin-bottom: 12%;
  opacity: 20%;
  width: 115%;
  min-height: 150px;
  background-image: url("assets/hero-audio-wave.png");
  background-repeat: repeat-x;
  animation: animatedBackground 20s linear infinite;
}

.panel {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ffffff12 !important;
  border: 2px solid;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero-floating-panel {
  text-align: left;
  position: absolute;
  bottom: 180px;
  z-index: 3;
  width: auto;
  height: auto;
  padding: 1rem 1.25rem;
  pointer-events: none;
}

.hero-floating-panel-left {
  margin-left: -800px;
  margin-bottom: 25px;
}

.hero-floating-panel-right {
  margin-right: -760px;
  margin-bottom: 140px;
}

.hero-floating-panel-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.panel-title {
  position: static;
  text-align: center;
  text-shadow: 0px 3px 26px #00000060;
  margin-top: -35px;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features-section {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -60px;
}

.features-panel {
  padding: 1rem 2rem 2rem 2rem;
  position: relative;
  border-radius: 8px;
}

.features-panel-sides {
  margin-top: 40px;
  margin-bottom: 40px;
}

.features-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
}

.features-title {
  margin-top: 60px;
}

.features-text {
  color: rgba(255, 255, 255, 0.8);
}

.insights-section {
  max-width: 900px;
}

.insights-panel {
  padding: 32px;
  position: relative;
  border-radius: 8px;
}

.insights-circle-1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -40px;
  margin-top: 30px;
  width: 70px;
}

.insights-circle-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 46px;
  margin-bottom: -25px;
  margin-right: 50px;
}

.insights-text {
  color: rgba(255, 255, 255, 0.6);
}

.insights-panel-text {
  color: rgba(255, 255, 255, 0.8);
}

.questions-panel {
  max-width: 700px;
  border-radius: 8px;
}

.cta-panel {
  background-color: #cf4c54;
  width: 100%;
  border-radius: 8px;
  padding: 3rem 1rem;
  position: relative;
  -webkit-box-shadow: 0px -10px 50px 5px #fc6b68;
  box-shadow: 0px -10px 50px 5px rgba(190, 71, 69, 0.2);
}

.cta-img {
  position: absolute;
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cta-right {
  padding-top: 150px;
}

.red-glow {
  filter: drop-shadow(0px 10px 30px #cf4c5582);
  -webkit-filter: drop-shadow(0px 10px 30px #cf4c5582);
}

.sub-title {
  font-weight: 600;
  padding-bottom: 10px;
}

.input-icon .form-control,
.input-icon .form-select {
  padding-left: 2.375rem;
}

.input-icon .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #443a40;
}

.form-control {
  border-width: 1px;
  border-color: #fff;
}

.form-control:focus,
.form-select:focus {
  border-color: #fc6b68;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #fc6b68;
}

.footer-link {
  color: #fc6b68;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}

.footer-link:hover {
  color: #ff8d8b;
}

.social-icon {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}

.social-icon:hover {
  color: rgba(255, 255, 255, 0.601);
}

.form-check-input:checked {
  background-color: #fc6b68;
  border-color: #fc6b68;
}

.form-check-input:focus {
  box-shadow: none;
}

.login-panel {
  max-width: 800px !important;
}

.nav-pills {
  backdrop-filter: blur(5px);
  width: 100% !important;
}

.nav-link:focus,
.nav-link:hover {
  color: #fc6b68;
}

.nav-pills .nav-link {
  padding: 16px 24px !important;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  border-color: rgba(255, 255, 255, 0.1) !important;
  border-bottom: 5px solid;
  color: #fff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #fc6b68 !important;
  border-bottom: 5px solid;
}

@media (min-width: 992px) {
  .panel-title {
    position: absolute;
    text-align: left;
    top: 0;
    margin-top: -25px;
  }
  .p-lg-4 {
    padding: 2rem !important;
  }

  .nav-bg-dark {
    background-color: #17101c00 !important;
  }
}

@media (min-width: 768px) {
  .container-panel {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
    border-radius: 8px;
  }

  .panel {
    border-radius: 8px;
  }

  .features-panel-sides {
    margin-top: 50px;
    margin-bottom: -50px;
  }

  .features-section {
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .cta-right {
    padding-top: 0px;
  }

  .hero-img {
    position: absolute;
    bottom: 0;
    max-height: 110%;
    max-width: 100%;
    z-index: 2;
  }
}
