@import "scss/_breakpoint.scss";
@import "scss/breakpoints.scss";

.fy-cam-lp-column-set {
	display: grid;
	gap: 1rem;

	@include breakpoint($over992) {
		grid-template-columns: 1fr 1fr;
	}

	.fy-cam-lp-camera-section {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5rem;

		@include breakpoint($under992) {
			.fy-input-description {
				order: 1;
			}
			.fy-camera-input {
				order: 2;
			}
		}
	}
}
