//@import-normalize; /* bring in normalize.css styles */

// $page-width: 700px;
$primary: #fc6b68;
$white: #fff;
$light-text-color: #777;
$button-text-color: #666;

$body-font-family: "Fira Sans", serif;
$nav-font-family: "Fira Sans", sans-serif;
$footer-font-family: "Fira Sans Condensed", sans-serif;
$textarea-font-family: "Fira Sans", sans-serif;
$headings-font-family: "Merriweather", serif;

// body {
//   font-family: $body-font-family;
//   font-weight: 300; // For Fira Sans
// }

// .mainwrap {
//   max-width: 1000px;
//   margin: auto;
// }

.git-sha {
  color: #999;
  font-size: 0.8rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}

hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

a {
  font-weight: 400;
  color: #fc6b68;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}

.text-link {
  color: #fc6b68;
}

a:hover {
  color: #ff8d8b;
}

h1 {
  font-weight: 700;
}

h3 {
  color: rgba(255, 255, 255, 0.8);
}

p {
  font-weight: 300;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

.pre-heading {
  font-size: 18px;
  color: #fc6b68;
  text-transform: uppercase;
}

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container {
  max-width: 1200px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*margin top/bottom for panels*/
.py-6 {
  padding-top: 1.6rem !important;
  padding-bottom: 0rem !important;
}

.navbar {
  z-index: 100;
}

.navbar-main {
  z-index: 100;
  width: 100%;
  transition: all 0.1s;
  border-color: rgba(255, 255, 255, 0.07) !important;
  border-bottom: 0px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-fixed {
  position: fixed;
}

.navbar-main.scrolled {
  background-color: #2e222c;
  border-color: rgba(255, 255, 255, 0.07) !important;
  border-bottom: 1px solid;
}

.navbar-dark .navbar-toggler {
  border: none;
}

// .nav-bg-dark {
//   background-color: #17101c !important;
// }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $primary;

  &:hover {
    background-color: $primary;
  }
}

.nav-pills .nav-link {
  border-radius: 5px;
  color: rgba(#fff, 0.7);
  transition: 0.2s;
  padding: 12px 14px !important;

  &:hover {
    background-color: rgba($white, 0.1);
  }
}

.icon {
  content: "";
  width: 20px;
  margin-right: 16px;
}

.p-page-top {
  padding-top: 110px;
}

.p-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.offcanvas {
  width: 100vw;
  height: 100%;
}

.offcanvas-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link {
  font-size: 15px;
  font-weight: 500;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.navbar-brand {
  padding-top: 0;
}

.lead {
  font-size: 18px;
}

.parent {
  position: relative;
}

span.word {
  position: relative;
  z-index: 1;
}

span.word:after {
  background-color: #fc6b68;
  content: " ";
  height: 15%;
  position: absolute;
  left: 0;
  margin-left: 0rem;
  top: 74%;
  width: calc(100%);
  z-index: -1;
}

.bg-gradient {
  background: rgb(13, 16, 25) !important;
  background: linear-gradient(
    325deg,
    rgba(13, 16, 25, 1) 0%,
    rgba(42, 21, 34, 1) 55%,
    rgba(16, 14, 26, 1) 100%
  ) !important;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.bg-hero {
  background: rgb(18, 14, 26);
  background: linear-gradient(
    180deg,
    rgba(18, 14, 26, 1) 0%,
    rgba(48, 23, 32, 1) 100%
  );
}

.btn {
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 24px;
  z-index: 1;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #fc6b68;
  border: 2.5px solid;
  border-color: #fc6b68;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #ff8d8b;
  border: 2.5px solid;
  border-color: #ff8d8b;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #fff;
  color: #443a40;
  border: 2.5px solid;
  border-color: #fff;
  transition: 0.2s;
}

.btn-secondary:hover {
  background-color: #ccc;
  color: #443a40;
  border: 2.5px solid;
  border-color: #ccc;
}

.btn-destructive,
.btn-destructive:active,
.btn-destructive:focus {
  background-color: #fff;
  color: #fc6b68;
  border: 2.5px solid;
  border-color: #fff;
  transition: 0.2s;
}

.btn-destructive:hover {
  background-color: #fdcfce;
  color: #fc6b68;
  border: 2.5px solid;
  border-color: #fdcfce;
}

.btn-hero {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.nav-login {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: 0.1s;
}

.nav-login:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 0.1s;
}

.hero-section {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 1080px;
  text-align: center;
  overflow: hidden;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='300' preserveAspectRatio='none' viewBox='0 0 1920 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1327%26quot%3b)' fill='none'%3e%3cpath d='M486 46L1358 45' stroke-width='10' stroke='url(%23SvgjsLinearGradient1328)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M312 288L-212 287' stroke-width='6' stroke='url(%23SvgjsLinearGradient1328)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M1583 12L2334 11' stroke-width='8' stroke='url(%23SvgjsLinearGradient1329)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1219 65L1985 64' stroke-width='10' stroke='url(%23SvgjsLinearGradient1329)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M1877 57L2438 56' stroke-width='8' stroke='url(%23SvgjsLinearGradient1328)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M347 173L-797 172' stroke-width='10' stroke='url(%23SvgjsLinearGradient1328)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3cpath d='M762 234L-332 233' stroke-width='6' stroke='url(%23SvgjsLinearGradient1329)' stroke-linecap='round' class='Left'%3e%3c/path%3e%3cpath d='M621 133L2031 132' stroke-width='8' stroke='url(%23SvgjsLinearGradient1328)' stroke-linecap='round' class='Right'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1327'%3e%3crect width='1920' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1328'%3e%3cstop stop-color='rgba(247%2c 84%2c 92%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(247%2c 84%2c 92%2c 0.05)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1329'%3e%3cstop stop-color='rgba(247%2c 84%2c 92%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(247%2c 84%2c 92%2c 0.05)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  background-position: 0 120px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-inner {
  padding-top: 100px;
  height: 100%;
}

.hero-text {
  max-width: 800px;
}

.hero-img-section {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.hero-img {
  position: absolute;
  bottom: 0;
  max-height: 110%;
  max-width: 140%;
  z-index: 1;
}

.hero-floor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 50%;
}

@keyframes animatedBackground {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: -1448px 0;
  }
}

#hero-audio-wave {
  position: absolute;
  bottom: 0;
  margin-bottom: 12rem;
  opacity: 15%;
  width: 115%;
  min-height: 150px;
  // background-image: url("/assets/hero-audio-wave.png");
  background-repeat: repeat-x;
  animation: animatedBackground 20s linear infinite;
  mix-blend-mode: screen;
}

.panel {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ffffff12 !important;
  border: 2px solid;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.panel-outline {
  border-color: rgba(252, 107, 104, 0.5) !important;
}

.hero-floating-panel {
  text-align: left;
  position: absolute;
  bottom: 180px;
  z-index: 3;
  width: auto;
  height: auto;
  padding: 1rem 1.25rem;
  pointer-events: none;
}

.hero-floating-panel-left {
  margin-left: -800px;
  margin-bottom: 25px;
}

.hero-floating-panel-right {
  margin-right: -760px;
  margin-bottom: 100px;
}

.hero-floating-panel-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.panel-title {
  position: static;
  text-align: center;
  text-shadow: 0px 3px 26px #00000060;
  margin-top: -35px;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
