@import "scss/colours.scss";

$playbar-height: 2rem;

.fy-video-quicktrim {
  .video-wrapper{
    position: relative;
    background-color: $bg;
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: $panel-inner-border 1px solid;
    border-left: $panel-inner-border 1px solid;
    border-right: $panel-inner-border 1px solid;
  }
  .playpause-overlay{
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      opacity: 0;
      transition: opacity 0.5s;  
    }
    &:hover svg{
      opacity: 1;
    }
  }
  .playbar{
    position:relative;
    height: $playbar-height;
    width: 100%;
  }
  .playbar-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-color: $panel-inner-border;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .trimzone{
    position: absolute;
    top:0;
    height: 2rem;
    background-color: #e66462;
    opacity: 0.8;

    cursor: grab;
  }
  .playcursor{
    position: absolute;
    top:0;
    width: 0.5rem;
    height: $playbar-height;
    background-color: white;
  }
}