@import "scss/colours.scss";

$playbar-height: 2rem;

.fy-video-quicktrim {
  .video-wrapper{
    position: relative;
    background-color: $bg;
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: $panel-inner-border 1px solid;
    border-left: $panel-inner-border 1px solid;
    border-right: $panel-inner-border 1px solid;
  }
  .fy-video{
    height: 500px;
  }
  .playpause-overlay{
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      opacity: 0;
      transition: opacity 0.5s;  
    }
    &:hover svg{
      opacity: 1;
    }
  }
  .warning-too-short{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
      position: absolute;
      height: 100%;
      width: 100%;
      top:0;
      left:0;
      background-color: #e66462;
      opacity: 70%;
    }
    p{
      position: absolute;
      margin-top: 230px;
      width: 100%;
      top:0;
    }
  }
  .playbar{
    position:relative;
    height: $playbar-height;
    width: 100%;
  }
  .playbar-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-color: $panel-inner-border;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .trim-scrubber{
    position: absolute;
    top:-1rem;
    height: 3rem;
    background-color: #e66462;
    opacity: 0.8;
    outline: 0.125rem $white solid;
    border-top: 1rem $white solid;
    border-radius: 0.25rem 0.25rem 0.125rem 0.125rem;
    // cursor: grab;

    display: flex;
    justify-content: center;

    .fa-grip-dots {
      margin-top: -1rem;
      color: $panel-inner-border;
    }
  }
  .playcursor{
    position: absolute;
    top:0;
    width: 0.5rem;
    height: $playbar-height;
    background-color: $white;
  }

  .playpause-external{
    .button-playpause{
      width: 55px;
      height: 40px;
      margin-right: 0.5rem;
    }
    .button-mute, .button-repeat{
      width: 40px;
      height: 40px;
      margin-right: 0.5rem;
    }
    .playtime{
      font-size: smaller;
      span{
        width: 50px;
      }
      div{
        width: 10px;
        margin-left: 3px;
        margin-right: 5px;
        text-align: center;
      }
    }
  }
}