.fy-video-quicktrim {
  .playbar{
    position:relative;
    height: 2rem;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
  }
  .trimzone{
    position: absolute;
    top:0;
    width: 30px;
    height: 2rem;
    background-color: #e66462;
    opacity: 0.8;
  }
  .playcursor{
    position: absolute;
    top:0;
    width: 1px;
    height: 2rem;
    background-color: red;
  }
}