@import "scss/colours.scss";

.fy-badge {
  font-weight: 600;
  border-radius: 0.35rem;
  font-size: 13px;
  padding: 4px 8px;
  transition: 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  margin-bottom: 10px;

  &.shadow {
    box-shadow: 0 0 12px rgba($bg, 0.4);
  }
}

@each $color, $value in $badge-colors {
  .badge-#{$color} {
    background-color: $value;
    color: contrast($value) !important;
  }
}
