@import "scss/colours.scss";

.fy-badge {
  font-weight: 600;
  border-radius: 0.35rem;
  font-size: 13px;
  padding: 2px 6px;
  transition: 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  margin-bottom: 10px;
}

$colors: (
  "gray": #e0e0e0,
  "red": #ff0000,
  "orange": #ffa500,
  "yellow": #ffff00,
  "lime": #00ff00,
  "green": #008000,
  "teal": #008080,
  "turquoise": #40e0d0,
  "aqua": #00ffff,
  "blue": #0000ff,
  "ultramarine": #4169e1,
  "purple": #800080,
  "pink": #ffc0cb,
);

@each $color, $value in $colors {
  .badge-#{$color} {
    background-color: $value;
    color: contrast($value);
  }
}
