@import "scss/colours.scss";

.fy-badge {
  font-weight: 600;
  border-radius: 0.35rem;
  font-size: 13px;
  padding: 4px 8px;
  transition: 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  margin-bottom: 10px;

  &.shadow {
    box-shadow: 0 0 12px rgba($bg, 0.4);
  }
}

$colors: (
  "gray": #5b7282,
  "red": #d91f11,
  "orange": #e86427,
  "yellow": #f5c518,
  "lime": #3c7d0e,
  "green": #077d55,
  "teal": #167b7d,
  "turquoise": #067a91,
  "aqua": #0073ba,
  "blue": #186ade,
  "ultramarine": #535fe8,
  "purple": #8f49de,
  "pink": #cc1d92,
);

@each $color, $value in $colors {
  .badge-#{$color} {
    background-color: $value;
    color: contrast($value) !important;
  }
}
