@media screen and (min-width: 1px) {
  #animation canvas {
    width: 200px;
  }
}

@media screen and (min-width: 300px) {
  #animation canvas {
    width: 300px;
  }
}

@media screen and (min-width: 400px) {
  #animation canvas {
    width: 400px;
  }
}

@media screen and (min-width: 450px) {
  #animation canvas {
    width: 450px;
  }
}

@media screen and (min-width: 500px) {
  #animation canvas {
    width: 500px;
  }
}

@media screen and (min-width: 600px) {
  #animation canvas {
    width: 600px;
  }
}

@media screen and (min-width: 800px) {
  #animation canvas {
    width: 800px;
  }
}

@media screen and (min-width: 1000px) {
  #animation canvas {
    width: 800px;
  }
}

