@media screen and (min-width: 1px) {
  #animation canvas {
    width: 200px;
  }
  #animation {
    height: 117px;
  }
}

@media screen and (min-width: 300px) {
  #animation canvas {
    width: 300px;
  }
  #animation {
    height: 176px;
  }
}

@media screen and (min-width: 400px) {
  #animation canvas {
    width: 400px;
  }
  #animation {
    height: 235px;
  }
}

@media screen and (min-width: 450px) {
  #animation canvas {
    width: 450px;
  }
  #animation {
    height: 264px;
  }
}

@media screen and (min-width: 500px) {
  #animation canvas {
    width: 500px;
  }
  #animation {
    height: 293px;
  }
}

@media screen and (min-width: 600px) {
  #animation canvas {
    width: 600px;
  }
  #animation {
    height: 352px;
  }
}

@media screen and (min-width: 800px) {
  #animation canvas {
    width: 800px;
  }
  #animation {
    height: 470px;
  }
}

@media screen and (min-width: 1000px) {
  #animation canvas {
    width: 800px;
  }
  #animation {
    height: 470px;
  }
}

